{% extends "_layout.twig" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
    {% if markread %}
        <div class="success">Marked all notifications as read.</div>
    {% elseif edited %}
        <div class="success">Settings successfully saved!</div>
    {% elseif justbanned == "ban" %}
        <div class="success">Successfully banned this user.</div>
    {% elseif justbanned == "unban" %}
        <div class="success">Successfully unbanned this user.</div>
    {% endif %}
<div class="branded-page-v2-container " id="c4-overview-tab">

    <div class="branded-page-v2-col-container">
      <div class="branded-page-v2-col-container-inner">
        <div class="branded-page-v2-primary-col">
          <div class="">
                <div class="branded-page-v2-primary-col-header-container branded-page-v2-primary-column-content">
      




    <div class="branded-page-v2-header channel-header ">
    <div id="gh-banner">
          <style>
      #c4-header-bg-container {
    background-image: url(http://i1.ytimg.com/u/6nSFpj9HTCZ5t-N3Rm3-HA/channels4_banner.jpg?v=50f6ec9e);
  }


    @media screen and (-webkit-min-device-pixel-ratio: 1.5),
           screen and (min-resolution: 1.5dppx) {
#c4-header-bg-container {
        background-image: url(http://i1.ytimg.com/u/6nSFpj9HTCZ5t-N3Rm3-HA/channels4_banner_hd.jpg?v=50f6ec9e);
      }
    }

#c4-header-bg-container .hd-banner-image {
      background-image: url(http://i1.ytimg.com/u/6nSFpj9HTCZ5t-N3Rm3-HA/channels4_banner_hd.jpg?v=50f6ec9e);
    }

    </style>
  <div id="c4-header-bg-container" class=" has-custom-banner">
          <div id="header-links">

  </div>



          <a class="channel-header-profile-image-container spf-link" href="/user/{{ userpagedata.name }}">
      <img class="channel-header-profile-image" src="{{ profile_image(userpagedata.name) }}" title="{{ userpagedata.name }}" alt="{{ userpagedata.name }}">
    </a>

  </div>

    </div>
      
  <div class="">
    <div class="primary-header-contents" id="c4-primary-header-contents">
      <div class="primary-header-actions clearfix">
                <span class="channel-header-subscription-button-container yt-uix-button-subscription-container with-preferences"><button class="yt-uix-subscription-button yt-uix-button yt-uix-button-subscribe-branded yt-uix-button-size-default yt-uix-button-has-icon" aria-role="button" onclick=";return false;" aria-live="polite" aria-busy="false" type="button" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbUhQVjUtWmVsQXVBc2VDUXpCVXV4NlRUZEpld3xBQ3Jtc0trNUlISzJpVHo1TjBTWHhMcnc0RGV6Sm1NcmJqZm1CLXA3bl92TVBTRHg2bWtvNW5xWTZCZGpCek5RZUdmRk5ZY2ZMVTJ2dzlVQXc3bng2YlRvNG1kV2tMYVpOZWJCVVJUZVlJVFRJRjlPNzFld1lVSWk0cG9PbXhRc21Cd3JsZXE3T21XQ3I5VXNONEdjS3JMTXZyeFRnaGc1RmhNMTBkYU8zeDNyT3JEMHRuYm5mR1VUQkgyR05weDFXSERpb3R2THJ6emc%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUC6nSFpj9HTCZ5t-N3Rm3-HA&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-channel-external-id="UC6nSFpj9HTCZ5t-N3Rm3-HA" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=channels4&amp;ved=CKoBEJsr" data-style-type="branded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button><button onclick=";return false;" type="button" class="yt-uix-subscription-preferences-button yt-uix-button yt-uix-button-default yt-uix-button-size-default yt-uix-button-has-icon yt-uix-button-empty" data-channel-external-id="UC6nSFpj9HTCZ5t-N3Rm3-HA" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscription-preferences" src="/yts/img/pixel.gif" alt="" title=""></span></button><span class="yt-subscription-button-subscriber-count-branded-horizontal subscribed">6,300,389</span>  <span class="yt-subscription-button-disabled-mask" title=""></span>
  
  <div class="yt-uix-overlay " data-overlay-style="primary" data-overlay-shape="tiny">
    
        <div class="yt-dialog hid">
    <div class="yt-dialog-base">
      <span class="yt-dialog-align"></span>
      <div class="yt-dialog-fg">
        <div class="yt-dialog-fg-content">
            <div class="yt-dialog-header">
                <h2 class="yt-dialog-title">
                        Subscription preferences


                </h2>
            </div>
          <div class="yt-dialog-loading">
              <div class="yt-dialog-waiting-content">
    <div class="yt-spinner-img"></div><div class="yt-dialog-waiting-text">Loading...</div>
  </div>

          </div>
          <div class="yt-dialog-content">
              <div class="subscription-preferences-overlay-content-container">
    <div class="subscription-preferences-overlay-loading ">
        <p class="yt-spinner">
        <img class="yt-spinner-img" src="/yts/img/pixel.gif" alt="Loading icon" title="">

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

    </div>
    <div class="subscription-preferences-overlay-content">
    </div>
  </div>

          </div>
          <div class="yt-dialog-working">
              <div id="yt-dialog-working-overlay">
  </div>
  <div id="yt-dialog-working-bubble">
    <div class="yt-dialog-waiting-content">
      <div class="yt-spinner-img"></div><div class="yt-dialog-waiting-text">Working...</div>
    </div>
  </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  </div>

</span>

              
      </div>
      <h1 class="branded-page-header-title">
        <a class="spf-link branded-page-header-title-link" href="/user/{{ userpagedata.name }}">
          <span class="qualified-channel-title ellipsized has-badge" title="{{ userpagedata.name }}"><span class="qualified-channel-title-wrapper ">  <span class="qualified-channel-title-text">
      {{ userpagedata.name }}
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
        </a>
      </h1>
    </div>
      <div id="channel-subheader" class="clearfix branded-page-gutter-padding appbar-content-trigger">
    <ul id="channel-navigation-menu" class="clearfix">
        <li>
              <button onclick=";return false;" type="button" class="epic-nav-item-empty selected yt-uix-button yt-uix-button-epic-nav-item yt-uix-button-size-default yt-uix-button-has-icon yt-uix-button-empty" data-button-menu-id="channel-navigation-menu-dropdown" role="button" aria-label="Select view:"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-c4-home" src="/yts/img/pixel.gif" alt="" title=""></span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
    <div id="channel-navigation-menu-dropdown" class="hid epic-nav-item-dropdown">
    <ul>
        <li class="epic-nav-item-selected">
          <a class="spf-link yt-uix-button-menu-item" href="/user/{{ userpagedata.name }}/featured">Home</a>
        </li>
        <li>
          <a class="spf-link yt-uix-button-menu-item" href="/user/{{ userpagedata.name }}/feed">Feed</a>
        </li>
    </ul>
  </div>


        </li>
        <li>
          <a href="/user/{{ userpagedata.name }}/videos" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-epic-nav-item yt-uix-button-size-default" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg"><span class="yt-uix-button-content">Videos </span></a>
        </li>
        <li>
          <a href="/user/{{ userpagedata.name }}/discussion" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-epic-nav-item yt-uix-button-size-default" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg"><span class="yt-uix-button-content">Discussion </span></a>
        </li>
        <li>
          <a href="/user/{{ userpagedata.name }}/about" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-epic-nav-item yt-uix-button-size-default" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg"><span class="yt-uix-button-content">About </span></a>
        </li>
        <li>
            <div id="channel-search"><label class="show-search epic-nav-item secondary-nav" for="channels-search-field"><img class="epic-nav-item-heading-icon" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Search Channel"></label><form class="search-form epic-nav-item secondary-nav" action="/user/Vsauce/search" method="get"><span class=" yt-uix-form-input-container yt-uix-form-input-text-container ">    <input class="yt-uix-form-input-text search-field" name="query" id="channels-search-field" type="text" placeholder="Search Channel" maxlength="100" autocomplete="off">
</span><button onclick=";return true;" type="submit" class="search-button yt-uix-button yt-uix-button-c4-search yt-uix-button-size-default yt-uix-button-has-icon yt-uix-button-empty" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-search" src="/yts/img/pixel.gif" alt="" title=""></span></button></form></div>
        </li>
    </ul>
  </div>

  </div>

  </div>


    </div>
  <div class="branded-page-v2-body branded-page-v2-primary-column-content" id="gh-overviewtab">
          

      <div class="c4-spotlight-module ">
  </div>

      <div id="c4-shelves-container" class="context-data-container ">
        
          <div class="compact-shelf shelf-item yt-uix-shelfslider yt-uix-shelfslider-at-head vve-check clearfix branded-page-box fluid-shelf yt-uix-tdl" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;ved=CC4Q3BwoAA" data-fold="832.546875,564">
            <h2 class="branded-page-module-title">
      <a href="/user/Vsauce/videos?sort=dd&amp;view=0&amp;shelf_id=1" class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg">
              <span class="shelf-title">
        <span class="">Recent uploads</span>
      </span>

      </a>
        <a href="/watch?v=Iw8idyw_N6Q&amp;list=UU6nSFpj9HTCZ5t-N3Rm3-HA" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="/yts/img/pixel.gif" alt="" title=""></span><span class="yt-uix-button-content">Play </span></a>

  </h2>


    

      <div class="yt-uix-shelfslider-body context-data-container">
    <ul class="yt-uix-shelfslider-list">

{% for video in latestVideos %}
        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="4,187,411 views" data-context-item-user="Vsauce" data-context-item-time="10:48" data-context-item-type="video" data-context-item-id="{{ video.video_id }}" data-context-item-title="Moving Illusions">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v={{ video.video_id }}&amp;feature=c4-overview&amp;list=UU6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-u&amp;ved=CDEQwBs">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="/get_still.php?still_id=2&amp;video_id={{ video.video_id }}" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">10:48</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="{{ video.video_id }}" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Moving Illusions" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-u&amp;ved=CDAQvxs" href="/watch?v={{ video.video_id }}&amp;feature=c4-overview&amp;list=UU6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="{{ video.title }}
    ">{{ video.title }}
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
      <li>{{ video.views }} views</li>
        <li class="yt-lockup-deemphasized-text">
            {{ video.time | relative_time }}
        </li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>
{% endfor %}
        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item compact-shelf-view-all-card yt-valign">
            <a class="compact-shelf-view-all-card-link yt-valign-container" href="/user/Vsauce/videos?sort=dd&amp;view=0&amp;shelf_id=1">
              <h4>
View all
              </h4>
              <span class="compact-shelf-view-all-card-count">
                    {{ allVideos }} items
              </span>
            </a>
        </li>
    </ul>
  </div>


    <button onclick=";return false;" type="button" class="yt-uix-shelfslider-prev yt-uix-button yt-uix-button-shelf-slider-pager yt-uix-button-size-default" role="button"><span class="yt-uix-button-content">  <img class="yt-uix-shelfslider-prev-arrow" src="/yts/img/pixel.gif" alt="Previous">
 </span></button>
    <button onclick=";return false;" type="button" class="yt-uix-shelfslider-next yt-uix-button yt-uix-button-shelf-slider-pager yt-uix-button-size-default" role="button"><span class="yt-uix-button-content">  <img class="yt-uix-shelfslider-next-arrow" src="/yts/img/pixel.gif" alt="Next">
 </span></button>

  </div>



        
          <div class="compact-shelf shelf-item yt-uix-shelfslider yt-uix-shelfslider-at-head vve-check clearfix branded-page-box fluid-shelf yt-uix-tdl" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;ved=CFMQ3BwoAQ" data-fold="832.546875,836.28125">
            <h2 class="branded-page-module-title">
      <a href="/user/Vsauce/videos?sort=p&amp;view=0&amp;shelf_id=2" class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg">
              <span class="shelf-title">
        <span class="">Popular uploads</span>
      </span>

      </a>
        <a href="/watch_videos?video_ids=jHbyQ_AQP8c%2C-yrZpTHBEss%2ChYf6av21x5c%2CR3unPcJDbCc%2CDAcjV60RnRw%2CixQbCXLUUj8%2C1T4XMNN4bNM%2CevQsOFQju08%2CSCognYXKTI4%2CGJ4Qp2xeRds%2CrYXdsOEWBj0%2CPEikGKDVsCc&amp;title=Popular+uploads&amp;more_url=&amp;type=0&amp;feature=c4-overview" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="/yts/img/pixel.gif" alt="" title=""></span><span class="yt-uix-button-content">Play </span></a>

  </h2>


    

      <div class="yt-uix-shelfslider-body context-data-container">
    <ul class="yt-uix-shelfslider-list">

{% for video in popularVideos %}
        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="4,187,411 views" data-context-item-user="Vsauce" data-context-item-time="10:48" data-context-item-type="video" data-context-item-id="{{ video.video_id }}" data-context-item-title="Moving Illusions">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v={{ video.video_id }}&amp;feature=c4-overview&amp;list=UU6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-u&amp;ved=CDEQwBs">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="/get_still.php?still_id=2&amp;video_id={{ video.video_id }}" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">10:48</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="{{ video.video_id }}" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Moving Illusions" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-u&amp;ved=CDAQvxs" href="/watch?v={{ video.video_id }}&amp;feature=c4-overview&amp;list=UU6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="{{ video.title }}
    ">{{ video.title }}
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
      <li>{{ video.views }} views</li>
        <li class="yt-lockup-deemphasized-text">
            2 weeks ago
        </li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>
{% endfor %}
<li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item compact-shelf-view-all-card yt-valign">
            <a class="compact-shelf-view-all-card-link yt-valign-container" href="/user/Vsauce/videos?sort=p&amp;view=0&amp;shelf_id=2">
              <h4>
View all
              </h4>
              <span class="compact-shelf-view-all-card-count">
                    {{ allVideos }} items
              </span>
            </a>
        </li>
    </ul>
  </div>


    <button onclick=";return false;" type="button" class="yt-uix-shelfslider-prev yt-uix-button yt-uix-button-shelf-slider-pager yt-uix-button-size-default" role="button"><span class="yt-uix-button-content">  <img class="yt-uix-shelfslider-prev-arrow" src="/yts/img/pixel.gif" alt="Previous">
 </span></button>
    <button onclick=";return false;" type="button" class="yt-uix-shelfslider-next yt-uix-button yt-uix-button-shelf-slider-pager yt-uix-button-size-default" role="button"><span class="yt-uix-button-content">  <img class="yt-uix-shelfslider-next-arrow" src="/yts/img/pixel.gif" alt="Next">
 </span></button>

  </div>



        
          <div class="compact-shelf shelf-item yt-uix-shelfslider yt-uix-shelfslider-at-head vve-check clearfix branded-page-box fluid-shelf yt-uix-tdl" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;ved=CHgQ3BwoAg" data-fold="832.546875,1117.15625">
            <h2 class="branded-page-module-title">
      <a href="/user/Vsauce/videos?sort=dd&amp;view=15&amp;shelf_id=3" class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg">
              <span class="shelf-title">
        <span class="">Liked videos</span>
      </span>

      </a>
        <a href="/watch?v=u9hauSrihYQ&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="/yts/img/pixel.gif" alt="" title=""></span><span class="yt-uix-button-content">Play </span></a>

  </h2>


    

      <div class="yt-uix-shelfslider-body context-data-container">
    <ul class="yt-uix-shelfslider-list">

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="267,692 views" data-context-item-user="TEDxTalks" data-context-item-time="17:35" data-context-item-type="video" data-context-item-id="u9hauSrihYQ" data-context-item-title="Why do we ask questions? Michael &quot;Vsauce&quot; Stevens at TEDxVienna">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=u9hauSrihYQ&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CHwQwBs">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="//i1.ytimg.com/vi/u9hauSrihYQ/mqdefault.jpg" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">17:35</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="u9hauSrihYQ" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2 yt-ui-ellipsis-ellipsized" dir="ltr" title="Why do we ask questions? Michael &quot;Vsauce&quot; Stevens at TEDxVienna" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CHoQvxs" href="/watch?v=u9hauSrihYQ&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="Why do we ask questions? Michael &quot;Vsauce&quot; Stevens at TEDxVienna
    ">Why do we ask questions? Michael "Vsauce" Stevens a…</span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/TEDxTalks?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CHsQwRs" dir="ltr" data-ytid="UCsT0YIqwnpJCM-mx7-gSA4Q" data-name="c4-overview-lik">TEDxTalks</a>
        </li>
      <li>267,692 views</li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="811,599 views" data-context-item-user="Vsauce3" data-context-item-time="5:56" data-context-item-type="video" data-context-item-id="MbVAKs1hF5o" data-context-item-title="Control This Robot RIGHT NOW! -- DONG">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=MbVAKs1hF5o&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CH8QwBs">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="//i1.ytimg.com/vi/MbVAKs1hF5o/mqdefault.jpg" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">5:56</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="MbVAKs1hF5o" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Control This Robot RIGHT NOW! -- DONG" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CH4Qvxs" href="/watch?v=MbVAKs1hF5o&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="Control This Robot RIGHT NOW! -- DONG
    ">Control This Robot RIGHT NOW! -- DONG
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/Vsauce3?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIABEMEb" dir="ltr" data-ytid="UCwmFOfFuvRPI112vR5DNnrA" data-name="c4-overview-lik">Vsauce3</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>811,599 views</li>
    </ul>
  </div>
  <div class="yt-lockup-badges"><ul class="item-badge-line"><li class="yt-lockup-badge-item">  <span class="yt-badge ">CC</span>
</li></ul></div>
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="944,781 views" data-context-item-user="Numberphile" data-context-item-time="5:02" data-context-item-type="video" data-context-item-id="yDWPi1pZ0Po" data-context-item-title="Connect Four - Numberphile">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=yDWPi1pZ0Po&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIMBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="//i1.ytimg.com/vi/yDWPi1pZ0Po/mqdefault.jpg" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">5:02</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="yDWPi1pZ0Po" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Connect Four - Numberphile" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIIBEL8b" href="/watch?v=yDWPi1pZ0Po&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="Connect Four - Numberphile
    ">Connect Four - Numberphile
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/numberphile?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIQBEMEb" dir="ltr" data-ytid="UCoxcjq-8xIDTYp3uz647V5A" data-name="c4-overview-lik">Numberphile</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>944,781 views</li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="216,210 views" data-context-item-user="Jamie Oliver" data-context-item-time="5:25" data-context-item-type="video" data-context-item-id="jhFGbGH-ynU" data-context-item-title="V Sauce Food Facts ★ Food Tube Live">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=jhFGbGH-ynU&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIYBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="//i1.ytimg.com/vi/jhFGbGH-ynU/mqdefault.jpg" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">5:25</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="jhFGbGH-ynU" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="V Sauce Food Facts ★ Food Tube Live" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIgBEL8b" href="/watch?v=jhFGbGH-ynU&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="V Sauce Food Facts ★ Food Tube Live
    ">V Sauce Food Facts ★ Food Tube Live
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/JamieOliver?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIcBEMEb" dir="ltr" data-ytid="UCpSgg_ECBj25s9moCDfSTsA" data-name="c4-overview-lik">Jamie Oliver</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>216,210 views</li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="1,571,187 views" data-context-item-user="Vsauce2" data-context-item-time="5:50" data-context-item-type="video" data-context-item-id="70sAqfZC3Wo" data-context-item-title="I SMELL YOU -- Mind Blow #74">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=70sAqfZC3Wo&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIoBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="//i1.ytimg.com/vi/70sAqfZC3Wo/mqdefault.jpg" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">5:50</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="70sAqfZC3Wo" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="I SMELL YOU -- Mind Blow #74" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIwBEL8b" href="/watch?v=70sAqfZC3Wo&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="I SMELL YOU -- Mind Blow #74
    ">I SMELL YOU -- Mind Blow #74
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/Vsauce2?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CIsBEMEb" dir="ltr" data-ytid="UCqmugCqELzhIMNYnsjScXXw" data-name="c4-overview-lik">Vsauce2</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>1,571,187 views</li>
    </ul>
  </div>
  <div class="yt-lockup-badges"><ul class="item-badge-line"><li class="yt-lockup-badge-item">  <span class="yt-badge ">CC</span>
</li></ul></div>
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="868,367 views" data-context-item-user="minutephysics" data-context-item-time="0:18" data-context-item-type="video" data-context-item-id="mVJEi-PkkaY" data-context-item-title="The Tides explained in ten seconds">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=mVJEi-PkkaY&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJABEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" src="//i1.ytimg.com/vi/mVJEi-PkkaY/mqdefault.jpg" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">0:18</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="mVJEi-PkkaY" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="The Tides explained in ten seconds" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CI4BEL8b" href="/watch?v=mVJEi-PkkaY&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="The Tides explained in ten seconds
    ">The Tides explained in ten seconds
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/minutephysics?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CI8BEMEb" dir="ltr" data-ytid="UCUHW94eEFW7hkUMVaZz4eDg" data-name="c4-overview-lik">minutephysics</a>
        </li>
      <li>868,367 views</li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="877,419 views" data-context-item-user="Vsauce2" data-context-item-time="7:26" data-context-item-type="video" data-context-item-id="T8YMjByt3CM" data-context-item-title="Amazing Historic PIRATES -- FAK #27">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=T8YMjByt3CM&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJMBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" data-thumb="//i1.ytimg.com/vi/T8YMjByt3CM/mqdefault.jpg" src="/yts/img/pixel.gif" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">7:26</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="T8YMjByt3CM" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Amazing Historic PIRATES -- FAK #27" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJIBEL8b" href="/watch?v=T8YMjByt3CM&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="Amazing Historic PIRATES -- FAK #27
    ">Amazing Historic PIRATES -- FAK #27
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/Vsauce2?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJQBEMEb" dir="ltr" data-ytid="UCqmugCqELzhIMNYnsjScXXw" data-name="c4-overview-lik">Vsauce2</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>877,419 views</li>
    </ul>
  </div>
  <div class="yt-lockup-badges"><ul class="item-badge-line"><li class="yt-lockup-badge-item">  <span class="yt-badge ">CC</span>
</li></ul></div>
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="1,699,185 views" data-context-item-user="Vsauce3" data-context-item-time="1:46" data-context-item-type="video" data-context-item-id="CKI-ovYW2Nw" data-context-item-title="5 Awesome NES Facts! -- Fact Surgery">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=CKI-ovYW2Nw&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJcBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" data-thumb="//i1.ytimg.com/vi/CKI-ovYW2Nw/mqdefault.jpg" src="/yts/img/pixel.gif" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">1:46</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="CKI-ovYW2Nw" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="5 Awesome NES Facts! -- Fact Surgery" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJgBEL8b" href="/watch?v=CKI-ovYW2Nw&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="5 Awesome NES Facts! -- Fact Surgery
    ">5 Awesome NES Facts! -- Fact Surgery
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/Vsauce3?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJYBEMEb" dir="ltr" data-ytid="UCwmFOfFuvRPI112vR5DNnrA" data-name="c4-overview-lik">Vsauce3</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>1,699,185 views</li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="50,799 views" data-context-item-user="Jamie Oliver" data-context-item-time="1:22:33" data-context-item-type="video" data-context-item-id="rMDbIeSW4wQ" data-context-item-title="Jamie Oliver's Food Tube (was) LIVE #4">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=rMDbIeSW4wQ&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJsBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" data-thumb="//i1.ytimg.com/vi/rMDbIeSW4wQ/mqdefault.jpg" src="/yts/img/pixel.gif" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">1:22:33</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="rMDbIeSW4wQ" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Jamie Oliver's Food Tube (was) LIVE #4" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJoBEL8b" href="/watch?v=rMDbIeSW4wQ&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="Jamie Oliver's Food Tube (was) LIVE #4
    ">Jamie Oliver's Food Tube (was) LIVE #4
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/JamieOliver?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJwBEMEb" dir="ltr" data-ytid="UCpSgg_ECBj25s9moCDfSTsA" data-name="c4-overview-lik">Jamie Oliver</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>50,799 views</li>
    </ul>
  </div>
  
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="1,009,436 views" data-context-item-user="Vsauce3" data-context-item-time="6:10" data-context-item-type="video" data-context-item-id="9wIrd5BEGdA" data-context-item-title="Online GAME BOY CAMERA and more!! -- DONG">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=9wIrd5BEGdA&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJ4BEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" data-thumb="//i1.ytimg.com/vi/9wIrd5BEGdA/mqdefault.jpg" src="/yts/img/pixel.gif" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">6:10</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="9wIrd5BEGdA" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Online GAME BOY CAMERA and more!! -- DONG" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CJ8BEL8b" href="/watch?v=9wIrd5BEGdA&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="Online GAME BOY CAMERA and more!! -- DONG
    ">Online GAME BOY CAMERA and more!! -- DONG
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/Vsauce3?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CKABEMEb" dir="ltr" data-ytid="UCwmFOfFuvRPI112vR5DNnrA" data-name="c4-overview-lik">Vsauce3</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>1,009,436 views</li>
    </ul>
  </div>
  <div class="yt-lockup-badges"><ul class="item-badge-line"><li class="yt-lockup-badge-item">  <span class="yt-badge ">CC</span>
</li></ul></div>
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="906,959 views" data-context-item-user="Vsauce2" data-context-item-time="3:55" data-context-item-type="video" data-context-item-id="vbvQlKzSmkQ" data-context-item-title="Molecular Gastronomy!">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=vbvQlKzSmkQ&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CKMBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" data-thumb="//i1.ytimg.com/vi/vbvQlKzSmkQ/mqdefault.jpg" src="/yts/img/pixel.gif" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">3:55</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="vbvQlKzSmkQ" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="Molecular Gastronomy!" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CKIBEL8b" href="/watch?v=vbvQlKzSmkQ&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="Molecular Gastronomy!
    ">Molecular Gastronomy!
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/Vsauce2?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CKQBEMEb" dir="ltr" data-ytid="UCqmugCqELzhIMNYnsjScXXw" data-name="c4-overview-lik">Vsauce2</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>906,959 views</li>
    </ul>
  </div>
  <div class="yt-lockup-badges"><ul class="item-badge-line"><li class="yt-lockup-badge-item">  <span class="yt-badge ">CC</span>
</li></ul></div>
  

    </div>
    
  </div>



        </li>

        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item ">
              


    <div class="yt-lockup clearfix  yt-lockup-video yt-lockup-grid vve-check context-data-item" data-context-item-views="1,523,103 views" data-context-item-user="Vsauce3" data-context-item-time="6:01" data-context-item-type="video" data-context-item-id="KnxowuQ1KvU" data-context-item-title="This is a BILLION Photos! -- DONG">
    <div class="yt-lockup-thumbnail">
      
  <a href="/watch?v=KnxowuQ1KvU&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CKcBEMAb">    <span class="video-thumb  yt-thumb yt-thumb-185 yt-thumb-fluid">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img alt="Thumbnail" data-thumb="//i1.ytimg.com/vi/KnxowuQ1KvU/mqdefault.jpg" src="/yts/img/pixel.gif" width="185">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
    <span class="video-time">6:01</span>


  <button title="Watch Later" class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" onclick=";return false;" type="button" data-video-ids="KnxowuQ1KvU" data-button-menu-id="shared-addto-watch-later-login" role="button"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
</a>

    </div>
    <div class="yt-lockup-content">
            <h3 class="yt-lockup-title">
    <a class="yt-uix-sessionlink yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" dir="ltr" title="This is a BILLION Photos! -- DONG" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CKgBEL8b" href="/watch?v=KnxowuQ1KvU&amp;feature=c4-overview&amp;list=LL6nSFpj9HTCZ5t-N3Rm3-HA"><span class="yt-ui-ellipsis-wrapper" data-original-html="This is a BILLION Photos! -- DONG
    ">This is a BILLION Photos! -- DONG
    </span></a>
  </h3>


  <div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
          by <a href="/user/Vsauce3?feature=c4-overview-lik" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=c4-overview-lik&amp;ved=CKYBEMEb" dir="ltr" data-ytid="UCwmFOfFuvRPI112vR5DNnrA" data-name="c4-overview-lik">Vsauce3</a>  <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

        </li>
      <li>1,523,103 views</li>
    </ul>
  </div>
  <div class="yt-lockup-badges"><ul class="item-badge-line"><li class="yt-lockup-badge-item">  <span class="yt-badge ">CC</span>
</li></ul></div>
  

    </div>
    
  </div>



        </li>
        <li class="channels-content-item yt-shelf-grid-item yt-uix-shelfslider-item compact-shelf-view-all-card yt-valign">
            <a class="compact-shelf-view-all-card-link yt-valign-container" href="/user/Vsauce/videos?sort=dd&amp;view=15&amp;shelf_id=3">
              <h4>
View all
              </h4>
              <span class="compact-shelf-view-all-card-count">
              </span>
            </a>
        </li>
    </ul>
  </div>


    <button onclick=";return false;" type="button" class="yt-uix-shelfslider-prev yt-uix-button yt-uix-button-shelf-slider-pager yt-uix-button-size-default" role="button"><span class="yt-uix-button-content">  <img class="yt-uix-shelfslider-prev-arrow" src="/yts/img/pixel.gif" alt="Previous">
 </span></button>
    <button onclick=";return false;" type="button" class="yt-uix-shelfslider-next yt-uix-button yt-uix-button-shelf-slider-pager yt-uix-button-size-default" role="button"><span class="yt-uix-button-content">  <img class="yt-uix-shelfslider-next-arrow" src="/yts/img/pixel.gif" alt="Next">
 </span></button>

  </div>



    </div>





    <img class="hid" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962985656/?label=default&amp;data=type%3Dcview%3Butuid%3D6nSFpj9HTCZ5t-N3Rm3-HA" border="0" width="1" height="1" y7bmay9qx="">

        


  <div id="ad_creative_1" class="ad-div hid" style="z-index: 1">
      <iframe id="ad_creative_iframe_1" height="1" width="1" scrolling="no" frameborder="0" style="z-index: 1" src="http://ad.doubleclick.net/N4061/adi/com.ytbc/Vsauce;sz=1x1;kpu=Vsauce;kpeid=6nSFpj9HTCZ5t-N3Rm3-HA;tile=1;dc_yt=1;kga=-1;kgg=-1;klg=en;kmyd=ad_creative_1;ytexp=923439,901482,936901,906008;ord=8646351110952191?" y7bmay9qx=""></iframe>
        <script>
    (function() {
      function tagMpuIframe() {
            var adIframe = document.getElementById("ad_creative_iframe_1");
            if (!adIframe) {
              return;
            }
            var ord = Math.floor(Math.random() * 10000000000000000);
            adIframe.src = "http://ad.doubleclick.net/N4061/adi/com.ytbc/Vsauce;sz=1x1;kpu=Vsauce;kpeid=6nSFpj9HTCZ5t-N3Rm3-HA;tile=1;dc_yt=1;kga=-1;kgg=-1;klg=en;kmyd=ad_creative_1;ytexp=923439,901482,936901,906008;ord=" + ord + "?";
      }

       tagMpuIframe();
    })();
  </script>

  </div>


  </div>

          </div>
        </div>
          <div class="branded-page-v2-secondary-col">
            


        <div class="branded-page-related-channels branded-page-box ">
            <h2 class="branded-page-related-channels-title" dir="ltr">
        Other AWESOME Channels
    </h2>

        <ul class="branded-page-related-channels-list">
        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCqmugCqELzhIMNYnsjScXXw">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/Vsauce2" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CAQQ9BwoAA">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCqmugCqELzhIMNYnsjScXXw">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="Vsauce2" data-thumb="https://lh4.googleusercontent.com/-3Gf59W9_Aek/AAAAAAAAAAI/AAAAAAAAAAA/gbD5TyigaWo/s88-c-k-no/photo.jpg" src="https://lh4.googleusercontent.com/-3Gf59W9_Aek/AAAAAAAAAAI/AAAAAAAAAAA/gbD5TyigaWo/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized has-badge"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCqmugCqELzhIMNYnsjScXXw" data-name="rc-feat">  <span class="qualified-channel-title-text">
      Vsauce2
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="2,463,892 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCqmugCqELzhIMNYnsjScXXw" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CAcQmysoAg" data-subscriber-count-title="2,463,892 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqblpfSG9YWXF4bkt3R1AyZVpXakRYR0hlbVFmQXxBQ3Jtc0tseU1pQllVVDJiMVhNXzc4U0MtQWlZLWhKdFNCaFVXS0E4Ujk2WWQ3MnVxWlFESkluZEh0SnIwQzFDcWR5LUZ1RUhlWU01d0ZhMkMxZzZxX0NMMnlIcnNydnBXY3U5V3FURkJhR0Nob3M4Mm05RnQ3Rkx6WGpIUTR3X0V2cDgtMFVLbmtKUjQxQkd1dlJ6am5Jemt4UGpyRWMzdlAxQ2ttUVQwWTU2bWpUYjlaYXdlS0QwaU1CYkc4Y3VkRGpEVWJxYW5aUWM%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCqmugCqELzhIMNYnsjScXXw&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="2,463,892 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCwmFOfFuvRPI112vR5DNnrA">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/Vsauce3" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CAgQ9BwoAQ">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCwmFOfFuvRPI112vR5DNnrA">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="Vsauce3" data-thumb="https://lh3.googleusercontent.com/-Bzvu7xT6Bkk/AAAAAAAAAAI/AAAAAAAAAAA/AvThVT7Oeno/s88-c-k-no/photo.jpg" src="https://lh3.googleusercontent.com/-Bzvu7xT6Bkk/AAAAAAAAAAI/AAAAAAAAAAA/AvThVT7Oeno/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized has-badge"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCwmFOfFuvRPI112vR5DNnrA" data-name="rc-feat">  <span class="qualified-channel-title-text">
      Vsauce3
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="1,489,711 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCwmFOfFuvRPI112vR5DNnrA" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CAsQmysoAg" data-subscriber-count-title="1,489,711 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbFVMQXJKSkJpekhqNDBkMEFvcDBQNGNrWExuUXxBQ3Jtc0trN1RjMHZxTVVqRThONUVrY0pOMURYS21odUh0QlktaUtyemV5Sy1DVnlocUt0Q01wV25kd19KM0pseXRhM2VVQURKNFJtNlZsakVGcTd0SEpqQjJKM2dsV2tfUHZLeFllclNYdFYxOTdfQUFYX2RZckM5QTJKcEI2a0NJMjZzUVNENHRacndCOC1EeG9pbnRrbTl3ZHlPTGV3ai1IdjREWnVTQ3cwbjR6bTVHa01XbFMwN21PNFMxZUxPMXlKbXk0SWVXeC0%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCwmFOfFuvRPI112vR5DNnrA&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="1,489,711 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCoxcjq-8xIDTYp3uz647V5A">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/numberphile" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CAwQ9BwoAg">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCoxcjq-8xIDTYp3uz647V5A">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="Numberphile" data-thumb="https://lh6.googleusercontent.com/-ObcwfadZ5MI/AAAAAAAAAAI/AAAAAAAAAAA/qxNULGXLkd4/s88-c-k-no/photo.jpg" src="https://lh6.googleusercontent.com/-ObcwfadZ5MI/AAAAAAAAAAI/AAAAAAAAAAA/qxNULGXLkd4/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized has-badge"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCoxcjq-8xIDTYp3uz647V5A" data-name="rc-feat">  <span class="qualified-channel-title-text">
      Numberphile
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="726,624 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCoxcjq-8xIDTYp3uz647V5A" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CA8QmysoAg" data-subscriber-count-title="726,624 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbENzRHE0c0h4eXc3WmMxTjl3TU5CTGpFOXlzQXxBQ3Jtc0trWFlNQklUd2tMWDZBeDRUbGxUR0RBWnpvWDlJQzNkU3RYR1NlakgtTDd3VmFxS29xRnhqTFdaOHd2S2k0aW00T2JnSFJHS2ctNHU2QUJOWDUwS3VSVHNpY3czc0Z1blZkYWF6eFpwcnliN2k3d3ZaSk5xQThzTWkzVW92Q0l4bjZKdVp5T3V2VUdhakp1Zjd1ak8zWENlQlBrY0E1dnNJdGtBQlEtUzJlYmVIQ3NYRkFMRzc3ZndjM2NGRHNkUWhwMGxWZ1k%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCoxcjq-8xIDTYp3uz647V5A&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="726,624 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UC6107grRI4m0o2-emgoDnAA">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/destinws2" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CBAQ9BwoAw">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UC6107grRI4m0o2-emgoDnAA">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="SmarterEveryDay" data-thumb="https://lh4.googleusercontent.com/-h1tM9etvm3o/AAAAAAAAAAI/AAAAAAAAAAA/a-oKpFao-Wo/s88-c-k-no/photo.jpg" src="https://lh4.googleusercontent.com/-h1tM9etvm3o/AAAAAAAAAAI/AAAAAAAAAAA/a-oKpFao-Wo/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized has-badge"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UC6107grRI4m0o2-emgoDnAA" data-name="rc-feat">  <span class="qualified-channel-title-text">
      SmarterEveryDay
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="1,290,194 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UC6107grRI4m0o2-emgoDnAA" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CBMQmysoAg" data-subscriber-count-title="1,290,194 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqa0Q2cG8zNFZ0NEV0dk1uVEQ3MTUxVG9ZT29zd3xBQ3Jtc0tuZFRxS0NpdHUzN2g1ZnJuVEwtakFKRVU2Y19GMEtzakp2ZWFtYWVVV1VNYWkySmtYWk9FZV95ZXhzb0dPMDMtb0pXenFYWU9lYVY2WmtBVlhqVm45VHZ3R3FaaTRWRkhPV1JWSVRHTXlrdk9iTjliWDdPYUVseDZnTnpSSE1KM1FyR25SVEROWUJEam8xSUNEeXdFMVNrdlpteC1SRkdlWGVDVE5icFhHRk5HaVQ0enNMOVhNenRxYmpwNjRTc2hnLTVRaGs%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUC6107grRI4m0o2-emgoDnAA&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button" data-tooltip-text="1,290,194 subscribers"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="1,290,194 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCUHW94eEFW7hkUMVaZz4eDg">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/minutephysics" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CBQQ9BwoBA">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCUHW94eEFW7hkUMVaZz4eDg">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="MinutePhysics" data-thumb="//i1.ytimg.com/i/UHW94eEFW7hkUMVaZz4eDg/1.jpg" src="//i1.ytimg.com/i/UHW94eEFW7hkUMVaZz4eDg/1.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCUHW94eEFW7hkUMVaZz4eDg" data-name="rc-feat">  <span class="qualified-channel-title-text">
      MinutePhysics
  </span>
</span></span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="2,115,474 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCUHW94eEFW7hkUMVaZz4eDg" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CBcQmysoAg" data-subscriber-count-title="2,115,474 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbl91T3Ezcy1DV0JfWFFQd2o4RlowUFNVYi1td3xBQ3Jtc0tuekI0WXRPRmNYVVhhbW5CcU1jeEFaazlmVGxLMWFnSWxaZWRaTWl4dUNCZlhhYjdhZFZfb0xVa3NHWHNxaDRrREUtZ1BVWnhuMmRaTThaSkJsVG9maWtla08yZXpOdE1xQ09rY0NMWksxU1pvNkdzTUxfMHNjRUVuUXBWSjlFVDQ5d0h0LU1OS1JraV9kejJxUEIxNEE5RlEtYzlTR0lPQ0I0MzdqanZ4dUJJOURoaXZvTF9FUGZodjNSTUV3X1p6LVhoWGY%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCUHW94eEFW7hkUMVaZz4eDg&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button" data-tooltip-text="2,115,474 subscribers"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="2,115,474 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UC2C_jShtL725hvbm1arSV9w">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/CGPGrey" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CBgQ9BwoBQ">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UC2C_jShtL725hvbm1arSV9w">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="CGP Grey" data-thumb="https://lh6.googleusercontent.com/-hcwBgBwDiuk/AAAAAAAAAAI/AAAAAAAAAAA/eQENCQCzV4w/s88-c-k-no/photo.jpg" src="https://lh6.googleusercontent.com/-hcwBgBwDiuk/AAAAAAAAAAI/AAAAAAAAAAA/eQENCQCzV4w/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized has-badge"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UC2C_jShtL725hvbm1arSV9w" data-name="rc-feat">  <span class="qualified-channel-title-text">
      CGP Grey
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="1,069,283 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UC2C_jShtL725hvbm1arSV9w" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CBsQmysoAg" data-subscriber-count-title="1,069,283 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbjFzTU1wS3pDYW4yMkRkUkM0bkl4TUZGMjJBZ3xBQ3Jtc0tuUm1rU2laSmxGQXd6Z3RCaFhHak5NTzAxTGpjbXJIYUczbWd6RlUxVE9sLURueUtUeXY4NDVfSEpYSXpncUxwdHNGaFZRLTVaVUE3Q09LX2x2LWMzYVVHVm1ESzRZTnlGZEFNRjk0S29CbkRxeTdsODhJckNldUxESG9SV2ZNMnJVNWNfUm9nVlZkbTdBMnZBeDh6eHhjTjBDTjYtV0F3WTdtSk1KT1JuU0oyQ090cUV1Sm1xQ1ZJdC1pcnlLdEQ5Mlhfemo%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUC2C_jShtL725hvbm1arSV9w&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="1,069,283 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCvBqzzvUBLCs8Y7Axb-jZew">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/sixtysymbols" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CBwQ9BwoBg">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCvBqzzvUBLCs8Y7Axb-jZew">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="Sixty Symbols" data-thumb="https://lh6.googleusercontent.com/-4CpEfygUEoI/AAAAAAAAAAI/AAAAAAAAAAA/x0zPFGPmV6E/s88-c-k-no/photo.jpg" src="https://lh6.googleusercontent.com/-4CpEfygUEoI/AAAAAAAAAAI/AAAAAAAAAAA/x0zPFGPmV6E/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized has-badge"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCvBqzzvUBLCs8Y7Axb-jZew" data-name="rc-feat">  <span class="qualified-channel-title-text">
      Sixty Symbols
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="332,244 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCvBqzzvUBLCs8Y7Axb-jZew" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CB8QmysoAg" data-subscriber-count-title="332,244 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqblJTc3pOZUppMkd4N0R5bHJNUmR2Q0JJbGZNQXxBQ3Jtc0ttVmp5Q1U3MzFCOW1XRElGR3NwNS1mVkRhcml0TE4xMldrNVRwaDJqN1VOTXV6RXdJVlNjWWhSLTJWMVdlS2JVdTYyLXpIVWZwMGFYSy12RjVOajNSRnhpTWQ5SkxGS0ZRYTJHeE5nalJodFNBWnZYcjRqckp6M1Zuel9sOWs3U2pMZzlta1BQLV9FeDNSWjZocEFVbzVpTm1JSk9vVW81aGZOYUxGM3Z1UTdpWnppaTdwREduZjJtbk1GM1NFMHZhZVE5WVc%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCvBqzzvUBLCs8Y7Axb-jZew&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="332,244 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCHnyfMqiRRG1u-2MsSQLbXA">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/1veritasium" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CCAQ9BwoBw">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCHnyfMqiRRG1u-2MsSQLbXA">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="Veritasium" data-thumb="https://lh3.googleusercontent.com/-uMv_62rHYAY/AAAAAAAAAAI/AAAAAAAAAAA/4VP2Io8W-PY/s88-c-k-no/photo.jpg" src="https://lh3.googleusercontent.com/-uMv_62rHYAY/AAAAAAAAAAI/AAAAAAAAAAA/4VP2Io8W-PY/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized has-badge"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCHnyfMqiRRG1u-2MsSQLbXA" data-name="rc-feat">  <span class="qualified-channel-title-text">
      Veritasium
  </span>
</span>      <span class="qualified-channel-title-badge">
<img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified">  </span>

</span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="1,019,419 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCHnyfMqiRRG1u-2MsSQLbXA" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CCMQmysoAg" data-subscriber-count-title="1,019,419 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbnF6ZHo2VEMtM21LbndJWjFJNDZWY2JULVJIQXxBQ3Jtc0tsSlJZM1JHTVZYNWwyWTZoNm1JVW1GdmJOUy1EZzViQWxDdXhDSjVuZ1lvUlF2VTVuTnJLd2hIbU1ZSzhxRlh5djA1akFxaU03VllIeU0tWHZpOGxUM3NYNDFKNW9UUUltSjBuWElBWGRLaWdFTlRQNHczcDkyMGY2Qmh4eWE3OTBQVGhmRkNJa2pvck05OVRQaTZURGpSQUgyQVA0bm9IcWlBOHdIQ1JfX091WElMUV81cms5SmpqZm5zN0IwZ01EbU5LaWQ%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCHnyfMqiRRG1u-2MsSQLbXA&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="1,019,419 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCOGeU-1Fig3rrDjhm9Zs_wg">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/Vihart" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CCQQ9BwoCA">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCOGeU-1Fig3rrDjhm9Zs_wg">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="Vi Hart" data-thumb="//i1.ytimg.com/i/OGeU-1Fig3rrDjhm9Zs_wg/1.jpg" src="//i1.ytimg.com/i/OGeU-1Fig3rrDjhm9Zs_wg/1.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCOGeU-1Fig3rrDjhm9Zs_wg" data-name="rc-feat">  <span class="qualified-channel-title-text">
      Vi Hart
  </span>
</span></span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="703,674 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCOGeU-1Fig3rrDjhm9Zs_wg" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CCcQmysoAg" data-subscriber-count-title="703,674 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbkNJX1JzVThWRExxWGFBeDZJMmFaN01XU3FzZ3xBQ3Jtc0ttMjFYT2ljRndrX19JaW0yT2w1WlAtQVVCZmg4QWh2eU1pYzY4NGRBMThzRTgtNWZDYTZUYm9na3o2VVRvbHo0M3JRY3l1enQwT3B6dGl2czFUVGIzUE9sWWpKbEtHTEZ6Tk8tVU96SEM1TTRVSDZOSHNlVFRldFhDV0xtQ3FNckxOZXdxNUtlbHdnMUtITkdsZnFKdklFTGM4ejZnTDlyWHA3QkE4VzVITlpadXFvemNHaHZ4ZnFYR0JkYVFyaU15VG9veFM%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCOGeU-1Fig3rrDjhm9Zs_wg&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="703,674 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

        <li class="branded-page-related-channels-item spf-nolink clearfix" data-external-id="UCeQEKFH31vvD-InkTGSvCrA">
    




    <a class="yt-lockup clearfix  yt-lockup-channel yt-lockup-mini vve-check yt-uix-sessionlink" href="/user/brusspup" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CCgQ9BwoCQ">
    <div class="yt-lockup-thumbnail" style="width: 34px;">
          <span class="video-thumb  yt-thumb yt-thumb-34 g-hovercard" data-ytid="UCeQEKFH31vvD-InkTGSvCrA">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img alt="brusspup" data-thumb="https://lh4.googleusercontent.com/-GskAfQIHe1A/AAAAAAAAAAI/AAAAAAAAAAA/WBoFD8EeqHk/s88-c-k-no/photo.jpg" src="https://lh4.googleusercontent.com/-GskAfQIHe1A/AAAAAAAAAAI/AAAAAAAAAAA/WBoFD8EeqHk/s88-c-k-no/photo.jpg" width="34" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>

    </div>
    <div class="yt-lockup-content">
        <h3 class="yt-lockup-title">
    <span class="qualified-channel-title ellipsized"><span class="qualified-channel-title-wrapper  g-hovercard" data-ytid="UCeQEKFH31vvD-InkTGSvCrA" data-name="rc-feat">  <span class="qualified-channel-title-text">
      brusspup
  </span>
</span></span>
  </h3>
  <div class="yt-lockup-meta">
      <span class=" yt-uix-button-subscription-container"><button class="yt-uix-subscription-button yt-uix-hovercard yt-uix-button yt-uix-button-subscribe-unbranded yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" aria-busy="false" title="1,532,097 subscribers" aria-role="button" aria-live="polite" onclick=";return false;" type="button" data-channel-external-id="UCeQEKFH31vvD-InkTGSvCrA" data-sessionlink="ei=BKa-Uq3iKonDiwL54YGQCg&amp;feature=rc-feat&amp;ved=CCsQmysoAg" data-subscriber-count-title="1,532,097 subscribers" data-href="https://accounts.google.com/ServiceLogin?continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqa0NpMTlyY2Y0X0hJcTdEd2JhdzUtdHZOQUZWd3xBQ3Jtc0ttV3R4UmNPYWdzUXk4bXctMjN6anJxTmtuTEkyVnNkOHpTZWl3TzRZY0N4bFZSZUpZTlZ6T0djRE9HWm5ybWF4ZEI0WkxNYzF0RzBSWmI0d19Ub2Z2SGluaGhpUFhYdTRhOFlJMTh0T2NmSGNIci1HOWtJNjg5bHFYRHNBdWtRcldUb2dGQzdJaG9WQ3NCaXlrck1UUzNvdnlPYkpIQm9oZ0VqR2FpOFlGZWNNdEdsd1QtSm4zZUtybnRXZDQyX1FXbXpXZHo%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUCeQEKFH31vvD-InkTGSvCrA&amp;passive=true&amp;service=youtube&amp;hl=en&amp;uilel=3" data-subscriber-count-tooltip="True" data-style-type="unbranded" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="1,532,097 subscribers" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span> </span></button>  <span class="yt-subscription-button-disabled-mask" title=""></span>
</span>
  </div>

    </div>
    
  </a>


  </li>

  </ul>

    </div>


    

          </div>
      </div>
    </div>
  </div>
{% endblock %}