{% extends "_layout.twig" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
<div class="pageTitle">Profile // <span style="text-transform: capitalize;">{{ userpagedata.name }}</span></div>
<div style="text-align:center; margin-bottom: 5px;">
   <a href="profile.php?user={{ userpagedata.name }}" class="bold">Profile</a>
   <span style="padding-right: 5px; padding-left: 5px;">|</span>
   <a href="profile_videos.php?user={{ userpagedata.name }}">Videos</a> ({{ allVideos }})
   <span style="padding-right: 5px; padding-left: 5px;">|</span>
   <a href="profile_favorites.php?user={{ userpagedata.name }}">Favorites</a> (0)
</div>
{% if markread %}
<div class="success">Marked all notifications as read.</div>
{% elseif edited %}
<div class="success">Settings successfully saved!</div>
{% elseif justbanned == "ban" %}
<div class="success">Successfully banned this user.</div>
{% elseif justbanned == "unban" %}
<div class="success">Successfully unbanned this user.</div>
{% endif %}
<table width="80%" align="center" cellpadding="5" cellspacing="0" border="0">
   <tbody>
      <tr valign="top">
         <td width="200">
            <div style="background-color: #D5E5F5; padding: 10px; padding-top: 5px; border: 6px double #FFFFFF;">
               <table width="100%" bgcolor="#D5E5F5" cellpadding="5" cellspacing="0" border="0">
                  <tbody>
                     <tr>
                        <td align="center">
                           <div class="highlight">Last Video Added</div>
                           <a href="watch.php?v={{ latestVideo.video_id }}"><img src="get_still.php?video_id={{ latestVideo.video_id }}" class="moduleFeaturedThumb" width="120" height="90"></a>
                           <div class="moduleFeaturedTitle"><a href="watch.php?v={{ latestVideo.video_id }}">{{ latestVideo.title }}</a></div>
                           <div class="moduleFeaturedDetails">Added: {{ latestVideo.time|date("F j, Y") }}<br>by <a href="profile.php?user={{ userpagedata.name }}">{{ userpagedata.name }}</a></div>
                           <div class="moduleFeaturedDetails">Views: {{ latestVideo.views }}</div>
                           <div class="moduleFeaturedDetails">Comments: {{ latestVideo.comments }}</div>
                           <br>
                           <!-- <form method="post" action="outbox.php?user={{ userpagedata.name }}">
                              <input type="submit" value="Contact Me!">
                           </form>
                           <span style="font-size: 11px; margin-right: 3px;">Like my videos?<br>
                           <a href="http://www.youtube.com/rss/user/lukechu/my_videos.rss">Subscribe to my RSS Feed.</a></span> -->
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </td>
         <td>
            <div class="tableSubTitle">User Details:</div>
            <table width="100%" cellpadding="5" cellspacing="0" border="0">
               <tbody>
                  <tr>
                     <td width="150" align="right"><span class="label">User Name:</span></td>
                     <td>{{ userpagedata.name }}</td>
                  </tr>
                  <!-- Personal Information: -->
                  <tr>
                     <td align="right"><span class="label">Name:</span></td>
                     <td>Luke Chu</td>
                  </tr>
                  <tr>
                     <td align="right"><span class="label">Age:</span></td>
                     <td>31 years old</td>
                  </tr>
                  <tr>
                     <td align="right"><span class="label">Gender:</span></td>
                     <td>Male</td>
                  </tr>
                  <tr>
                     <td align="right"><span class="label">Relationship Status:</span></td>
                     <td>Taken</td>
                  </tr>
                  <tr>
                     <td colspan="2">&nbsp;</td>
                  </tr>
                  <!-- Location Information -->
                  <tr>
                     <td colspan="2">&nbsp;</td>
                  </tr>
                  <!-- Random Information -->
                  <tr>
                     <td align="right"><span class="label">Last Login:</span></td>
                     <td>{{ userpagedata.lastview | relative_time }}</td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
{% endblock %}