{% extends "_layout.twig" %}
{% block loadCSS %}
{% if videoOwnershipFuckery == true %}
<link id="css-484918549" class="www-watch-inlineedit" rel="stylesheet" href="/yts/cssbin/www-watch-inlineedit.css" data-loaded="true">
{% endif %}
{% endblock %}
{% block javascriptSettings %}
<script>
    yt.setConfig({
      'VIDEO_ID': "{{ video.video_id }}",
      'THUMB_NON_DELAY_LOAD_COUNT': 0,
      'THUMB_DELAY_LOAD_RATE_MS': 0,
      'WAIT_TO_DELAYLOAD_FRAME_CSS': false,
      'PLAYLIST_INTERSTITIAL': false,
      'IS_UNAVAILABLE_PAGE': false,

      'JS_PAGE_MODULES': {
        "\/yts\/jsbin\/www\/www_watch_mod.js": [
            "\/yts\/jsbin\/www\/www_watch_missilecommand_mod.js",
			{% if videoOwnershipFuckery == true %}
			"\/yts\/jsbin\/www\/www_watch_edit_mod.js",
			{% endif %}
          ''         ]
      },

	  {% if videoOwnershipFuckery == true %}
      'WATCH_EDIT_JS': "\/yts\/jsbin\/www-watch-edit.js",
      'WATCH_EDIT_ENABLED': true,
	  {% endif %}

      'REPORTVIDEO_JS': "\/\/s.ytimg.com\/yts\/jsbin\/www-reportvideo-vflDyk0N_.js",
      'REPORTVIDEO_CSS': "\/\/s.ytimg.com\/yts\/cssbin\/www-watch-reportvideo-vflGtRSQZ.css",



      'WATCH_MISSILECOMMAND_JS': "\/\/s.ytimg.com\/yts\/jsbin\/www-watch-missilecommand-vfl6e8Vkz.js",
      'WATCH_MISSILECOMMAND_CSS': "\/\/s.ytimg.com\/yts\/cssbin\/www-watch-missile-command-vfl52fZea.css",

      'ENABLE_AUTO_LARGE': false    });

    yt.setAjaxToken('insight_ajax', "_6rBSOyJpU1RSXwwSyOb7Www01h8MTM4ODQzMzkyMEAxMzg4MzQ3NTIw");
    yt.setAjaxToken('guide_ajax', "aC-oI8kOCuLdvGmTCFXssV2LW6N8MTM4ODQzMzkyMEAxMzg4MzQ3NTIw");
    yt.setAjaxToken('promo_ajax_token', "uaIbCXYt4F5iNand8VnfbHIlcAt8MTM4ODQzMzkyMEAxMzg4MzQ3NTIw");
	yt.setAjaxToken('comments_ajax', "gh4B658b9x6EJUHBlwHg9owUOmR8MTM2NzQxMzA4OUAxMzY3MzI2Njg5");

      yt.setConfig({
    'EMBED_HTML_TEMPLATE': "\u003ciframe width=\"__width__\" height=\"__height__\" src=\"__url__\" frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e",
    'EMBED_HTML_URL': "\/\/pok.bytemail.com\/embed\/__videoid__"
  });
    yt.setMsg('FLASH_UPGRADE', "\u003cdiv class=\"yt-alert yt-alert-default yt-alert-error  yt-alert-player\"\u003e  \u003cdiv class=\"yt-alert-icon\"\u003e\n    \u003cimg s\u0072c=\"http:\/\/s.ytimg.com\/yts\/img\/pixel-vfl3z5WfW.gif\" class=\"icon master-sprite\" alt=\"Alert icon\"\u003e\n  \u003c\/div\u003e\n\u003cdiv class=\"yt-alert-buttons\"\u003e\u003c\/div\u003e\u003cdiv class=\"yt-alert-content\" role=\"alert\"\u003e    \u003cspan class=\"yt-alert-vertical-trick\"\u003e\u003c\/span\u003e\n    \u003cdiv class=\"yt-alert-message\"\u003e\n            You need to upgrade your Adobe Flash Player to watch this video. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eDownload it from Adobe.\u003c\/a\u003e\n    \u003c\/div\u003e\n\u003c\/div\u003e\u003c\/div\u003e");
  yt.setMsg('PLAYER_FALLBACK', "The Adobe Flash Player or an HTML5 supported browser is required for video playback. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eGet the latest Flash Player\u003c\/a\u003e \u003cbr\u003e \u003ca href=\"\/html5\"\u003eLearn more about upgrading to an HTML5 browser\u003c\/a\u003e");
  yt.setMsg('QUICKTIME_FALLBACK', "The Adobe Flash Player or QuickTime is required for video playback. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eGet the latest Flash Player\u003c\/a\u003e \u003cbr\u003e \u003ca href=\"http:\/\/www.apple.com\/quicktime\/download\/\"\u003eGet the latest version of QuickTime\u003c\/a\u003e");
  yt.setMsg('AUTOPLAY_MESSAGE', {"other": "Next video in #", "case1": "Next video in 1"});



    yt.setConfig({
      'TIMING_WFF': true,
	  'WATCH_EXTRA_JS': "\/\/s.ytimg.com\/yts\/jsbin\/www-watch-extra-vflmh6M8X.js",
      'WATCH_GUIDE_CSS': "\/\/s.ytimg.com\/yts\/cssbin\/www-guide-vfl_xeAjK.css",
      'YPC_CAN_RATE_VIDEO': true,

      'PLAYER_BOOTSTRAP_HTML5': false,

      'HL_LOCALE': "en_US",

      'TTS_URL': "http:\/\/www.youtube.com\/api\/timedtext?asr_langs=de%2Cit%2Cko%2Cru%2Cen%2Cfr%2Cnl%2Cpt%2Cja%2Ces\u0026caps=asr\u0026sparams=asr_langs%2Ccaps%2Cv%2Cexpire\u0026v=JgZHEfDkUkk\u0026expire=1388372719\u0026hl=en_US\u0026signature=9CC35C197E7787C611B1D1821F0A980F3D189771.8B6B652BD8D7CB990A0532E2CC64B9E7BFE9CB59\u0026key=yttt1",
      'JS_DELAY_LOAD': 0,
      'LIST_AUTO_PLAY_VALUE': null,
      'SHUFFLE_VALUE': null,
      'SKIP_RELATED_ADS': false,
      'SKIP_TO_NEXT_VIDEO': false,
      'SPF_PREFETCH': false,
      'SPF_PREFETCH_MAX': null,
      'ALLOW_RATINGS': true,
      'RESUME_COOKIE_NAME': null,
      'LIST_END_TIME': null,
      'CONVERSION_CONFIG_DICT': {"aid": "P8MtocA8rLA", "uid": "0v-tlzsn0QZwJnkiaUSJVQ", "socialEnabled": false, "focEnabled": true, "ytfocEnabled": true, "ytfocHistoryEnabled": false, "rmktPingThreshold": 0, "baseUrl": "http:\/\/googleads.g.doubleclick.net\/pagead\/viewthroughconversion\/962985656\/", "vid": "JgZHEfDkUkk"},
      'RESOLUTION_TRACKING_ENABLED': true,
      'MEMORY_TRACKING_ENABLED': false,
      'WATCH_LEGAL_TEXT_ENABLE_AUTOSCROLL': true,
      'SHARE_ON_VIDEO_PAUSE': false,
      'SHARE_ON_VIDEO_END': true,
      'SHARE_ON_VIDEO_START': false,
      'PLAYBACK_ID': "AATusdjAPZogtcft",
      'IS_ACTIVE_LIVE_VIDEO': false,
      'IS_DISTILLER': true,
      'RADIO_ENTRYPOINT_RESUMES_CURRENTLY_PLAYING_VIDEO': false,
      'WATCH_STATS_RATING_BUTTONS': false,
      'SHARE_CAPTION': "Uploaded by {{ video.u_name }}"
    });

    yt.setMsg({
        'HTML5_SUBS_ASR': "automatic captions",
      'LOADING': "Loading..."    });


      yt.setMsg({
    'UNBLOCK_USER': "Are you sure you want to unblock this user?",
    'BLOCK_USER': "Are you sure you want to block this user?"
  });
  yt.setConfig('BLOCK_USER_AJAX_XSRF', 'session_token=Pn3PHa9zlKV-lIJkMmwjGE8m0-N8MTM4ODQzMzkyMEAxMzg4MzQ3NTIw');
  

  yt.setConfig({
    'COMMENTS_CHANNEL_CREATE_URL': null,
    'COMMENTS_SIGNIN_URL': null,
    'COMMENTS_THRESHHOLD': -5,
    'COMMENTS_PAGE_SIZE': 10,
    'COMMENTS_COUNT': 0,
    'COMMENTS_YPC_CAN_POST_OR_REACT_TO_COMMENT': true,
    'COMMENT_SOURCE': "w",
    'COMMENT_OPEN_REPLY_BOX' : false
  });

  yt.setAjaxToken('link_ajax', "wd0stygXjwRe2Sl2sohSbxce8RB8MTM2NzQxMzA4OUAxMzY3MzI2Njg5");
  yt.setAjaxToken('comment_servlet', "SYKSm1aoXBWS_BqMHGmDe8kSn758MTM2NzQxMzA4OUAxMzY3MzI2Njg5");
  yt.setAjaxToken('comment_voting', "ljpw39TIN_HqUvGh_ckPbwfNsAN8MTM2NzQxMzA4OUAxMzY3MzI2Njg5");



  yt.setMsg({
    'CHARACTERS_REMAINING': {"case1": "1 character remaining", "case0": "No characters remaining", "other": "# characters remaining"},
    'COMMENT_OK': "OK",
    'COMMENT_BLOCKED': "You have been blocked by the owner of this video.",
    'COMMENT_CAPTCHAFAIL': "The response to the letters on the image was not correct, please try again.",
    'COMMENT_PENDING': "Comment Pending Approval!",
    'COMMENT_ERROR_EMAIL': "Error, account unverified (see email)",
    'COMMENT_ERROR': "Error, try again",
    'COMMENT_FAILED_MAINTENANCE': "We're currently performing site maintenace, please try later.",
    'COMMENT_OWNER_LINKING': "Comments can't contain links, please put the link in your video description and refer to it in the comment.",
    'FAILED_HASLINK': "Oops! Remove any web addresses and try again.",
    'FAILED_HASTAGS': "Oops! Remove the HTML tags and try again.",
    'FAILED_ASCIIART': "Oops! Remove the character (ascii) art and try again.",
    'FAILED_TOOSHORT': "Oops! Your comment is too short.",
    'FAILED_TOOLONG': "Oops! Your comment is too long.",
    'FAILED_BADPARENT': "Oops! You cannot respond to a deleted comment.",
    'SECONDS_REMAINING': {"case1": "1 second remaining before you can post", "case0": "You can post again", "other": "# seconds remaining before you can post"}
  });
  
        yt.setAjaxToken('video_acls_ajax', "WYvPlPKgJOKd-88eYlYeF8bQNn98MTM2NzQxMzA4OUAxMzY3MzI2Njg5");

  video_acl_context = {
    'aclJson': null,
    'useChipsIFrame': true,
    'gaiaId': "1083792852468",
    'prevTimeUpdated': 0,
    'isRestrictedUser': false,
    'sessionIndex': 0,
    'locale': "en_US",

      'chipsUrl': "https:\/\/plus.google.com\/",

      'addContacts': "Enter an email address or YouTube username"
  };

  yt.setConfig({
    'VIDEO_ACL_CONTEXT': video_acl_context,
    'USE_CHIPS_IFRAME': true,
    'IS_RESTRICTED_USER': false
  });

  yt.setMsg({
      'ADD_CONTACTS': "Enter an email address or YouTube username",
    'INCAPABLE_SSL': "Changes to private video access will not be saved. Please upgrade your browse or visit this page in https."
  });

    yt.setGoogMsg({
    'Add more people': "Add more people"
  });

      yt.setConfig({
    'GUIDED_HELP_LOCALE': "en_US",
    'GUIDED_HELP_ENVIRONMENT': "prod"
  });
</script>
{% endblock %}
{% block content %}
<div id="watch7-container" {% if videoOwnershipFuckery == true %}class="watch-edit"{% endif %} itemscope="" itemid="" itemtype="http://schema.org/VideoObject">
    <link itemprop="url" href="http://www.youtube.com/watch?v=JgZHEfDkUkk">
    <meta itemprop="name" content="{{ video.title }}" {{ video.title }}">
    <meta itemprop="description"
        content="{{ video.description }}">
    <meta itemprop="paid" content="False">

    <meta itemprop="channelId" content="{{ video.u_name }}">
    <meta itemprop="videoId" content="{{ video.video_id }}">

    <meta itemprop="duration" content="PT9M37S">
    <meta itemprop="unlisted" content="False">

    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          <link itemprop="url" href="http://pok.byteemail.com/user/{{ video.u_name }}">
        </span>
    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          <link itemprop="url" href="https://plus.google.com/100459443269104397247">
        </span>

    <link itemprop="thumbnailUrl" href="http://i1.ytimg.com/vi/JgZHEfDkUkk/hqdefault.jpg">
    <span itemprop="thumbnail" itemscope="" itemtype="http://schema.org/ImageObject">
      <link itemprop="url" href="http://i1.ytimg.com/vi/JgZHEfDkUkk/hqdefault.jpg">
      <meta itemprop="width" content="480">
      <meta itemprop="height" content="360">
    </span>

    <link itemprop="embedURL" href="http://pok.byteemail.com/v/{{ video.video_id }}?version=3&amp;autohide=1">
    <meta itemprop="playerType" content="Flash">
    <meta itemprop="width" content="1280">
    <meta itemprop="height" content="720">

    <meta itemprop="isFamilyFriendly" content="True">
    <meta itemprop="regionsAllowed"
        content="AD,AE,AF,AG,AI,AL,AM,AO,AQ,AR,AS,AT,AU,AW,AX,AZ,BA,BB,BD,BE,BF,BG,BH,BI,BJ,BL,BM,BN,BO,BQ,BR,BS,BT,BV,BW,BY,BZ,CA,CC,CD,CF,CG,CH,CI,CK,CL,CM,CN,CO,CR,CU,CV,CW,CX,CY,CZ,DE,DJ,DK,DM,DO,DZ,EC,EE,EG,EH,ER,ES,ET,FI,FJ,FK,FM,FO,FR,GA,GB,GD,GE,GF,GG,GH,GI,GL,GM,GN,GP,GQ,GR,GS,GT,GU,GW,GY,HK,HM,HN,HR,HT,HU,ID,IE,IL,IM,IN,IO,IQ,IR,IS,IT,JE,JM,JO,JP,KE,KG,KH,KI,KM,KN,KP,KR,KW,KY,KZ,LA,LB,LC,LI,LK,LR,LS,LT,LU,LV,LY,MA,MC,MD,ME,MF,MG,MH,MK,ML,MM,MN,MO,MP,MQ,MR,MS,MT,MU,MV,MW,MX,MY,MZ,NA,NC,NE,NF,NG,NI,NL,NO,NP,NR,NU,NZ,OM,PA,PE,PF,PG,PH,PK,PL,PM,PN,PR,PS,PT,PW,PY,QA,RE,RO,RS,RU,RW,SA,SB,SC,SD,SE,SG,SH,SI,SJ,SK,SL,SM,SN,SO,SR,SS,ST,SV,SX,SY,SZ,TC,TD,TF,TG,TH,TJ,TK,TL,TM,TN,TO,TR,TT,TV,TW,TZ,UA,UG,UM,US,UY,UZ,VA,VC,VE,VG,VI,VN,VU,WF,WS,YE,YT,ZA,ZM,ZW">


    <div id="watch7-main-container">
        <div id="watch7-main" class="clearfix">
            <div id="watch7-content" class="watch-content">
                <div class="yt-uix-button-panel">
                    <div id="watch7-headline" class="clearfix  yt-uix-expander yt-uix-expander-collapsed">
					{% if videoOwnershipFuckery == true %}
						<form id="watch-headline-title-form" action="/watch_inlineedit_ajax?action_save_video=1" method="POST" class="hid">
							<input type="hidden" name="session_token" value="{{ token }}">
							<input name="video_id" value="{{ video.video_id }}" type="hidden">
							<span class=" yt-uix-form-input-container yt-uix-form-input-text-container ">    <input class="yt-uix-form-input-text " name="field_myvideo_title">
						</span>
							<span class="form-buttons">
							  <button type="submit" class=" yt-uix-button yt-uix-button-primary" onclick=";return true;" role="button"><span class="yt-uix-button-content">Save </span></button>
							  <button type="button" id="watch-headline-title-reset" onclick=";return false;" class=" yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">Cancel </span></button>
							</span>
						  </form>
					{% endif %}
                        <h1 id="watch-headline-title" class="yt">
                            <span id="eow-title" class="watch-title {% if videoOwnershipFuckery == true %}watch-editable{% else %}yt-uix-expander-head{% endif %}" dir="ltr" title="{{ video.title }}">
							{{ video.title }}
							{% if videoOwnershipFuckery == true %}
							<button type="button" class="watch-pencil-icon yt-uix-button yt-uix-button-default yt-uix-button-empty" onclick=";return false;" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-pencil" src="/yts/img/pixel.gif" alt="" title=""><span class="yt-uix-button-valign"></span></span></button>
							{% endif %}
							</span>
                        </h1>
                    </div>

                    <div id="watch7-user-header" class="spf-nolink"><a href="/user/{{ video.u_name }}?feature=watch"
                            class="yt-user-photo "> <span class="video-thumb  yt-thumb yt-thumb-48 g-hovercard" data-ytid="{{ video.u_name }}">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <img src="{{ profile_image(video.u_name) }}" alt="{{ video.u_name }}" width="48">
          <span class="vertical-align"></span>
                            </span>
                            </span>
                            </span>
                        </a><a href="/user/{{ video.u_name }}?feature=watch"
                            class="g-hovercard yt-uix-sessionlink yt-user-name "
                            data-sessionlink="feature=watch&amp;ei=f4DAUq3_OImVkgLEuICgAw" dir="ltr"
                            data-ytid="{{ video.u_name }}" data-name="watch">{{ video.u_name }}</a> <span class="yt-user-name-icon-verified">
    <img src="/yts/img/pixel.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>
                        <span class="yt-user-separator">·</span><a class="yt-uix-sessionlink yt-user-videos"
                            href="/user/{{ video.u_name }}/videos"
                            data-sessionlink="feature=watch&amp;ei=f4DAUq3_OImVkgLEuICgAw">{{ allVideos }}
                            videos</a><br><span id="watch7-subscription-container">
							{% if videoOwnershipFuckery == true %}
							<a href="http://www.youtube.com/channel/{{ video.u_name }}?edit_channel_settings=1" class="yt-uix-button channel-settings-link yt-uix-sessionlink yt-uix-button-default" data-sessionlink="ei=4b9_UcWTBcrpgALt9IDgBg"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-settings" src="/yts/img/pixel.gif" alt="" title=""></span><span class="yt-uix-button-content">Channel settings</span></a>
							{% else %}
							<span class="yt-uix-button-subscription-container with-preferences"><button class="yt-uix-subscription-button yt-uix-button yt-uix-button-subscribe-branded yt-uix-button-size-default yt-uix-button-has-icon" aria-role="button" aria-live="polite" aria-busy="false" type="button" onclick=";return false;" data-style-type="branded" data-sessionlink="feature=watch&amp;ved=CAEQmys&amp;ei=f4DAUq3_OImVkgLEuICgAw" data-href="https://accounts.google.com/ServiceLogin?uilel=3&amp;service=youtube&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26continue_action%3DQUFFLUhqbTVBSnZxYUNoZTNwVnJCenI5TkJEd2IzaFFzd3xBQ3Jtc0trSWljeGhpa003WnhjZHJlcjRBYWViYWhXLS1qZ29pV1lUbUREaWxGVi0wekU0SjExRG9kWmN2MXhoa2pBaERsUE1rYnQ2cjVuZGpkUDQwZHN3T3ZoUldqc0k1c19tcDdleUFIRHVpaFBHcHJBbERValZiM2hvR05mOFdXRGxteUE1QkQ2X2hrZUFGMENIejhnZjNiLTZUcFFzaVpxLWs5dTJmbzBuUk1mM3lhZm5nTWlTcGcya2N5V0VUVm9NQ0hmb0FZcEY%253D%26feature%3Dsubscribe%26hl%3Den%26next%3D%252Fchannel%252FUC0v-tlzsn0QZwJnkiaUSJVQ&amp;passive=true&amp;hl=en" data-channel-external-id="{{ video.u_name }}" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="/yts/img/pixel.gif" alt="" title=""></span><span class="yt-uix-button-content"><span class="subscribe-label" aria-label="Subscribe">Subscribe</span><span class="subscribed-label" aria-label="Unsubscribe">Subscribed</span><span class="unsubscribe-label" aria-label="Unsubscribe">Unsubscribe</span>
                        </span></button><button class="yt-uix-subscription-preferences-button yt-uix-button yt-uix-button-default yt-uix-button-size-default yt-uix-button-has-icon yt-uix-button-empty" type="button" onclick=";return false;" data-channel-external-id="{{ video.u_name }}" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-subscription-preferences" src="/yts/img/pixel.gif" alt="" title=""></span></button><span class="yt-subscription-button-subscriber-count-branded-horizontal">6,799,197</span>
                        <span class="yt-subscription-button-disabled-mask" title=""></span>

                        <div class="yt-uix-overlay " data-overlay-style="primary" data-overlay-shape="tiny">

                            <div class="yt-dialog hid">
                                <div class="yt-dialog-base">
                                    <span class="yt-dialog-align"></span>
                                    <div class="yt-dialog-fg">
                                        <div class="yt-dialog-fg-content">
                                            <div class="yt-dialog-header">
                                                <h2 class="yt-dialog-title">
                                                    Subscription preferences


                                                </h2>
                                            </div>
                                            <div class="yt-dialog-loading">
                                                <div class="yt-dialog-waiting-content">
                                                    <div class="yt-spinner-img"></div>
                                                    <div class="yt-dialog-waiting-text">Loading...</div>
                                                </div>

                                            </div>
                                            <div class="yt-dialog-content">
                                                <div class="subscription-preferences-overlay-content-container">
                                                    <div class="subscription-preferences-overlay-loading ">
                                                        <p class="yt-spinner">
                                                            <img class="yt-spinner-img" src="/yts/img/pixel.gif" alt="Loading icon" title="">

                                                            <span class="yt-spinner-message">
Loading...
    </span>
                                                        </p>

                                                    </div>
                                                    <div class="subscription-preferences-overlay-content">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="yt-dialog-working">
                                                <div id="yt-dialog-working-overlay">
                                                </div>
                                                <div id="yt-dialog-working-bubble">
                                                    <div class="yt-dialog-waiting-content">
                                                        <div class="yt-spinner-img"></div>
                                                        <div class="yt-dialog-waiting-text">Working...</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        </span>
							{% endif %}
						</span>
                        <div id="watch7-views-info">
							<span class="watch-view-count">
							  {{ viewCount }}
							</span>
                            <div class="video-extras-sparkbars">
                                <div class="video-extras-sparkbar-likes" style="width: 100.0%"></div>
                                <div class="video-extras-sparkbar-dislikes" style="width: 0.0%"></div>
                            </div>
                            <span class="video-extras-likes-dislikes">
      <img id="watch-stats-like" class="icon-watch-stats-like" src="/yts/img/pixel.gif" alt="Like">
  <span class="likes-count">89</span>

                            &nbsp;&nbsp;&nbsp;
                            <img id="watch-stats-dislike" class="icon-watch-stats-dislike" src="/yts/img/pixel.gif" alt="Dislike">
                            <span class="dislikes-count">0</span>

                            </span>
                        </div>
                    </div>
                    <div id="watch7-action-buttons" class="clearfix">
                        <div id="watch7-sentiment-actions">
                            <span id="watch-like-dislike-buttons" class="yt-uix-button-group " data-button-toggle-group="optional"><span class="yt-uix-clickcard"><button class="yt-uix-clickcard-target yt-uix-button yt-uix-button-text yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip" id="watch-like" title="" onclick=";return false;" type="button" data-like-tooltip="I like this" data-position="bottomright" data-orientation="vertical" data-unlike-tooltip="Unlike" data-button-toggle="true" data-force-position="true" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-like" src="/yts/img/pixel.gif" alt="" title=""></span><span class="yt-uix-button-content">Like </span></button>
                            {{ login_hovercard("like", video.u_name, "video") }}
                            </span><span class="yt-uix-clickcard"><button class="yt-uix-clickcard-target yt-uix-button yt-uix-button-text yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip yt-uix-button-empty" id="watch-dislike" title="I dislike this" onclick=";return false;" type="button" data-orientation="vertical" data-position="bottomright" data-force-position="true" data-button-toggle="true" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-dislike" src="/yts/img/pixel.gif" alt="I dislike this" title=""></span></button>
                            {{ login_hovercard("dislike", video.u_name, "video") }}
                            </span></span>
                        </div>
                        <div id="watch7-secondary-actions" class="yt-uix-button-group"
                            data-button-toggle-group="required">
                            <span>
    <button class="action-panel-trigger  yt-uix-button-toggled yt-uix-button yt-uix-button-text yt-uix-button-size-default yt-uix-tooltip" type="button" title="" onclick=";return false;" data-trigger-for="action-panel-details" data-button-toggle="true" role="button"><span class="yt-uix-button-content">About </span></button>
                            </span>

                            <span>
    <button class="action-panel-trigger   yt-uix-button yt-uix-button-text yt-uix-button-size-default yt-uix-tooltip" type="button" title="" onclick=";return false;" data-trigger-for="action-panel-share" data-button-toggle="true" role="button"><span class="yt-uix-button-content">Share </span></button>
                            </span>

                            <span class="yt-uix-clickcard">
    <button class="action-panel-trigger   yt-uix-clickcard-target yt-uix-button yt-uix-button-text yt-uix-button-size-default yt-uix-tooltip" type="button" title="" onclick=";return false;" data-trigger-for="action-panel-none" data-orientation="vertical" data-upsell="playlist" data-button-toggle="true" data-position="bottomleft" role="button"><span class="yt-uix-button-content">Add to </span></button>
                            {{ login_hovercard("add", video.u_name, "video to your playlist") }}

                            </span>

                            <span>
    <button class="action-panel-trigger   yt-uix-button yt-uix-button-text yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip yt-uix-button-empty" type="button" title="Statistics" onclick=";return false;" data-trigger-for="action-panel-stats" data-button-toggle="true" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-action-panel-stats" src="/yts/img/pixel.gif" alt="Statistics" title=""></span></button>
                            </span>


                            <span>
    <button class="action-panel-trigger   yt-uix-button yt-uix-button-text yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip yt-uix-button-empty" type="button" title="Report" onclick=";return false;" data-trigger-for="action-panel-report" data-button-toggle="true" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-action-panel-report" src="/yts/img/pixel.gif" alt="Report" title=""></span></button>
                            </span>

                        </div>
                    </div>

                    <div id="watch7-action-panels" class="yt-uix-button-panel">
                        <div id="action-panel-details" class="action-panel-content {% if videoOwnershipFuckery == true %}watch-editable{% endif %}" data-panel-loaded="true">
							{% if videoOwnershipFuckery == true %}<button type="button" class="watch-pencil-icon yt-uix-button yt-uix-button-default yt-uix-button-empty" onclick=";return false;" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-pencil" src="http://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-valign"></span></span></button>{% endif %}
                            <div id="watch-description"
                                class="yt-uix-expander yt-uix-expander-collapsed yt-uix-button-panel">
                                <div id="watch-description-content">
                                    <div id="watch-description-clip">
                                        <p id="watch-uploader-info">
                                            <strong>Published on <span id="eow-date" class="watch-video-date">{{ video.time | date('M j, Y') }}</span>
</strong>
                                        </p>

                                        <div id="watch-description-text">
                                            <p id="eow-description">{{ video.description }}
                                            </p>
                                        </div>
                                        <div id="watch-description-extras">

                                            <ul class="watch-extras-section">
                                                <li>
                                                    <h4 class="title">
                                                        Category
                                                    </h4>
                                                    <div class="content">
                                                        <p id="eow-category"><a class="yt-uix-sessionlink"
                                                                data-sessionlink="ei=f4DAUq3_OImVkgLEuICgAw&amp;ved=CAMQxS4"
                                                                href="/entertainment">Entertainment</a></p>

                                                    </div>
                                                </li>


                                                <li>
                                                    <h4 class="title">License</h4>
                                                    <div class="content">
                                                        <p id="eow-reuse">
                                                            Standard pokTwo License
                                                        </p>

                                                    </div>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                    <ul id="watch-description-extra-info">

                                    </ul>
                                </div>

                                <div id="watch-description-toggle" class="yt-uix-expander-head yt-uix-button-panel">
                                    <div id="watch-description-expand" class="expand">
                                        <button class="metadata-inline yt-uix-button yt-uix-button-text yt-uix-button-size-default" type="button" onclick=";return false;" role="button"><span class="yt-uix-button-content">Show more </span></button>
                                    </div>
                                    <div id="watch-description-collapse" class="collapse">
                                        <button class="metadata-inline yt-uix-button yt-uix-button-text yt-uix-button-size-default" type="button" onclick=";return false;" role="button"><span class="yt-uix-button-content">Show less </span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
<form action="/watch_inlineedit_ajax?action_save_video=1" method="POST" id="watch-video-info-form" class="hid">
    <input type="hidden" name="session_token" value="{{ token }}">
    <input name="video_id" value="{{ video.video_id }}" type="hidden">
    <input name="ignore_broadcast_settings" value="0" type="hidden">
    <p class="yt">
      <label class="yt-uix-form-label">
Description:
        <span class="yt-uix-form-input-container yt-uix-form-input-textarea-container  yt-uix-form-input-non-empty">    <textarea class="yt-uix-form-input-textarea " name="field_myvideo_descr" rows="6">{{ video.description }}</textarea>
</span>
      </label>
    </p>
    <p class="yt">
      <label class="yt-uix-form-label">
Privacy:<br>
        <span class="yt-uix-form-input-select "><span class="yt-uix-form-input-select-content"><img src="http://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-uix-form-input-select-arrow"><span class="yt-uix-form-input-select-value">
Public
  </span></span><select class="yt-uix-form-input-select-element " name="privacy">  <option value="public" selected="">
Public
  </option>
  <option value="private">
Private
  </option>
    <option value="unlisted">
Unlisted
    </option>
</select></span>
      </label>
    </p>
   <p class="yt">
      <button type="submit" id="watch-video-info-submit" onclick=";return true;" class=" yt-uix-button yt-uix-button-primary" role="button"><span class="yt-uix-button-content">Save </span></button>
      <button type="button" id="watch-video-info-reset" onclick=";return false;" class=" yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">Cancel </span></button>
    </p>
  </form>
                        <div id="action-panel-share" class="action-panel-content hid">
                            <div id="watch-actions-share-loading">
                                <div class="action-panel-loading">
                                    <p class="yt-spinner">
                                        <img class="yt-spinner-img" src="/yts/img/pixel.gif" alt="Loading icon" title="">

                                        <span class="yt-spinner-message">
Loading...
    </span>
                                    </p>

                                </div>
                            </div>
                            <div id="watch-actions-share-panel"></div>

                        </div>

                        <div id="action-panel-addto" class="action-panel-content hid" data-auth-required="true">
                            <div class="action-panel-loading">
                                <p class="yt-spinner">
                                    <img class="yt-spinner-img" src="/yts/img/pixel.gif" alt="Loading icon" title="">

                                    <span class="yt-spinner-message">
Loading...
    </span>
                                </p>

                            </div>
                        </div>

                        <div id="action-panel-stats" class="action-panel-content hid">
                            <div class="action-panel-loading">
                                <p class="yt-spinner">
                                    <img class="yt-spinner-img" src="/yts/img/pixel.gif" alt="Loading icon" title="">

                                    <span class="yt-spinner-message">
Loading...
    </span>
                                </p>

                            </div>
                        </div>

                        <div id="action-panel-report" class="action-panel-content hid" data-auth-required="true">
                            <div class="action-panel-loading">
                                <p class="yt-spinner">
                                    <img class="yt-spinner-img" src="/yts/img/pixel.gif" alt="Loading icon" title="">

                                    <span class="yt-spinner-message">
Loading...
    </span>
                                </p>

                            </div>
                        </div>

                        <div id="action-panel-login" class="action-panel-content hid">
                            <div class="action-panel-login">
                                <a href="https://accounts.google.com/ServiceLogin?uilel=3&amp;service=youtube&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26feature%3D__FEATURE__%26hl%3Den%26next%3D%252Fwatch%253Fv%253DJgZHEfDkUkk%2526gl%253DUS%2526hl%253Den&amp;passive=true&amp;hl=en"
                                    class="yt-uix-button   yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default"
                                    data-sessionlink="ei=f4DAUq3_OImVkgLEuICgAw"><span class="yt-uix-button-content">Sign in </span></a>
                            </div>
                        </div>

                        <div id="action-panel-ratings-disabled" class="action-panel-content hid">
                            <div id="watch-actions-ratings-disabled" class="watch-actions-panel">
                                <em>Ratings have been disabled for this video.</em>
                            </div>

                        </div>

                        <div id="action-panel-rental-required" class="action-panel-content hid">
                            <div id="watch-actions-rental-required" class="watch-actions-panel">
                                <strong>Rating is available when the video has been rented.</strong>
                            </div>

                        </div>

                        <div id="action-panel-error" class="action-panel-content hid">
                            <div class="action-panel-error">
                                This feature is not available right now. Please try again later.
                            </div>
                        </div>

                        <div id="watch7-action-panel-footer">
                            <hr class="yt-horizontal-rule ">
                        </div>
                    </div>

                </div>

                <div class="cmt_iframe_holder"
                    data-href="http://www.youtube.com/watch?v=JgZHEfDkUkk&amp;gl=US&amp;hl=en" data-viewtype="FILTERED"
                    style="display: none;"></div>

                <div id="watch-discussion" class="scrolldetect" data-scrolldetect-callback="comments-delay-load">
                    <div class="action-panel-loading">
                        <p class="yt-spinner">
                            <img class="yt-spinner-img" src="/yts/img/pixel.gif" alt="Loading icon" title="">

                            <span class="yt-spinner-message">
Loading...
    </span>
                        </p>

                    </div>
                </div>


            </div>
            <div id="watch7-sidebar" class="watch-sidebar">
                <div id="watch7-sidebar-contents" class="watch-sidebar-gutter">

                    <div id="watch7-sidebar-discussion"></div>


                    <div id="watch-channel-brand-div" class="">
                        <div id="watch-channel-brand-div-text">
                            Advertisement
                        </div>
                        <div id="google_companion_ad_div">
                        </div>
                    </div>


                    <div class="watch-sidebar-section">

                        <div class="watch-sidebar-body">
                            <ul id="watch-related" class="video-list">
							{% for video in recommended %}
                                <li class="video-list-item related-list-item"><a href="/watch?v={{ video.video_id }}"
                                        class="related-video  yt-uix-sessionlink"
                                        data-sessionlink="feature=relmfu&amp;ved=CAcQzRooAA&amp;ei=f4DAUq3_OImVkgLEuICgAw"><span class="ux-thumb-wrap contains-addto ">    <span class="video-thumb  yt-thumb yt-thumb-120">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <img src="/get_still.php?still_id=2&amp;video_id={{ video.video_id }}" data-thumb="/get_still.php?still_id=2&amp;video_id={{ video.video_id }}" alt="" width="120" data-group-key="thumb-group-0">
          <span class="vertical-align"></span>
                                        </span>
                                        </span>
                                        </span>
                                        <span class="video-time">10:00</span>

                                        <button class="addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" onclick=";return false;" type="button" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="{{ video.video_id }}" role="button" data-tooltip-text="Watch Later"><span class="yt-uix-button-content">  <img src="/yts/img/pixel.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title=""></button>
                                        </span><span dir="ltr" class="title" title="{{ video.title }}">{{ video.title }}</span><span class="stat attribution"><span class="g-hovercard" data-ytid="UC0v-tlzsn0QZwJnkiaUSJVQ" data-name="watch-vrec">by <b><span class="g-hovercard" data-ytid="{ video.u_name }}">{{ video.u_name }}</span></b></span></span><span class="stat view-count">{{ video.views }} views</span></a>
                                </li>
							{% endfor %}
								<div id="watch-more-related" class="hid">
                                    <li id="watch-more-related-loading">
                                        Loading more suggestions...
                                    </li>
                                </div>
                                <button class=" yt-uix-button yt-uix-button-default yt-uix-button-size-default" id="watch-more-related-button" type="button" onclick=";return false;" data-button-action="yt.www.watch.related.loadMore" role="button"><span class="yt-uix-button-content">Load more suggestions </span></button>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="visibility: hidden; height: 0px; padding: 0px; overflow: hidden;">
        <img src="//www.youtube-nocookie.com/gen_204?attributionpartner=FullScreen" border="0" width="1" height="1" j0jevwyuz="">
    </div>

</div>
{% endblock %}
{% block playerSetings %}
<script>
    var ytplayer = ytplayer || {};
ytplayer.config = {
    "assets": {
        "js": "\/yts\/jsbin\/html5player.js",
        "css": "\/yts\/cssbin\/www-player.css",
        "html": "\/html5_player_template"
    },
    "min_version": "8.0.0",
    "html5": false,
    "sts": 16057,
    "url_v9as2": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/cps.swf",
    "url_v8": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/cps.swf",
    "attrs": {
        "id": "movie_player"
    },
    "params": {
        "allowscriptaccess": "always",
        "allowfullscreen": "true",
        "bgcolor": "#000000"
    },
    "args": {
        "ucid": "UC0v-tlzsn0QZwJnkiaUSJVQ",
        "ad_preroll": "1",
        "adsense_video_doc_id": "yt_JgZHEfDkUkk",
        "cos": "X11",
        "max_dynamic_allocation_ad_tag_length": 2040,
        "loeid": "938627,914072,916625",
        "account_playback_token": "OI1zGgmHgnAgicFVT_23TImG7iN8MTM4ODQzMzkxOUAxMzg4MzQ3NTE5",
        "showpopout": 1,
        "show_pyv_in_related": true,
        "cafe_experiment_id": "",
        "cid": 563326,
        "ad_host": "ca-host-pub-0161219093041726",
        "idpj": "0",
        "aid": "P8MtocA8rLA",
        "cc_asr": 1,
        "instream": true,
        "video_id": "{{ video.video_id }}",
        "invideo": true,
        "ytfocEnabled": "1",
        "enablecsi": "1",
        "title": "{{ video.title }}",
        "ldpj": "-38",
        "iv3_module": "1",
        "afv_ad_tag": "http:\/\/googleads.g.doubleclick.net\/pagead\/ads?ht_id=5012008\u0026url=http%3A%2F%2Fwww.youtube.com%2Fvideo%2FJgZHEfDkUkk\u0026video_cpm=6000000\u0026ad_type=video\u0026loeid=938627%2C914072%2C916625\u0026description_url=http%3A%2F%2Fwww.youtube.com%2Fvideo%2FJgZHEfDkUkk\u0026max_ad_duration=15000\u0026channel=afv_instream%2BVertical_3%2BVertical_36%2BVertical_182%2BVertical_211%2BVertical_613%2Bafv_instream_us%2Bafv_user_thefinebros%2Bafv_user_id_0v-tlzsn0QZwJnkiaUSJVQ%2Byt_mpvid_AATusdjArkr0Na3s%2Byt_cid_563326%2Bytdevice_1%2Bytps_default%2Bytel_detailpage\u0026ytdevice=1\u0026client=ca-pub-6219811747049371\u0026host=ca-host-pub-0161219093041726\u0026hl=en\u0026yt_pt=APb3F2-UzROhTG2DrogSjnsEmBefBe1fuul3896zfZAoOhRcIuLroRNca3Y8dY2PyOv-CRBajvy3F-XEi3qhzRFk8NuvzAgd9Na36osfzgZe46OQ9XqtPJlS406l8BQ839Ai7EpOBNDzgbDhDA70",
        "vq": "auto",
        "c": "WEB",
        "iv_load_policy": 1,
        "pyv_in_related_cafe_experiment_id": "",
        "enablejsapi": 1,
        "iv_invideo_url": "http:\/\/www.youtube.com\/annotations_invideo?features=1\u0026legacy=1\u0026plid=AATusdjAPZogtcft\u0026video_id=JgZHEfDkUkk",
        "fmt_list": "22\/1280x720\/9\/0\/115,43\/640x360\/99\/0\/0,18\/640x360\/9\/0\/115,5\/320x240\/7\/0\/0,36\/320x240\/99\/1\/0,17\/176x144\/99\/1\/0",
        "afv_video_min_cpm": 6000000,
        "ad_video_pub_id": "ca-pub-6219811747049371",
        "csi_page_type": "watch,watch7ad",
        "vid": "{{ video.video_id }}",
        "ad3_module": "1",
        "cbr": "Firefox",
        "shortform": true,
        "allow_embed": 1,
        "ttsurl": "http:\/\/www.youtube.com\/api\/timedtext?asr_langs=de%2Cit%2Cko%2Cru%2Cen%2Cfr%2Cnl%2Cpt%2Cja%2Ces\u0026caps=asr\u0026sparams=asr_langs%2Ccaps%2Cv%2Cexpire\u0026v=JgZHEfDkUkk\u0026expire=1388372719\u0026hl=en_US\u0026signature=9CC35C197E7787C611B1D1821F0A980F3D189771.8B6B652BD8D7CB990A0532E2CC64B9E7BFE9CB59\u0026key=yttt1",
        "dclk": true,
        "cc_module": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/subtitle_module.swf",
        "pltype": "content",
        "content_owner_name": "FullScreen",
        "trueview": true,
        "eventid": "f4DAUq3_OImVkgLEuICgAw",
        "timestamp": 1388347519,
        "afv": true,
        "url_encoded_fmt_stream_map": "{{url_encoded_fmt_stream_map}}",
		"afv_invideo_ad_tag": "http:\/\/googleads.g.doubleclick.net\/pagead\/ads?ht_id=5012008\u0026url=http%3A%2F%2Fwww.youtube.com%2Fvideo%2FJgZHEfDkUkk\u0026ad_type=text_image_flash\u0026loeid=938627%2C914072%2C916625\u0026description_url=http%3A%2F%2Fwww.youtube.com%2Fvideo%2FJgZHEfDkUkk\u0026max_ad_duration=15000\u0026channel=invideo_overlay_480x70_cat24%2Bafv_overlay%2BVertical_3%2BVertical_36%2BVertical_182%2BVertical_211%2BVertical_613%2Bafv_user_thefinebros%2Bafv_user_id_0v-tlzsn0QZwJnkiaUSJVQ%2Byt_mpvid_AATusdjArkr0Na3s%2Byt_cid_563326%2Bytdevice_1%2Bytps_default%2Bytel_detailpage\u0026ytdevice=1\u0026client=ca-pub-6219811747049371\u0026host=ca-host-pub-0161219093041726\u0026hl=en",
        "loaderUrl": "http:\/\/www.youtube.com\/watch?v={{ video.video_id }}\u0026gl=US\u0026hl=en",
        "ad_channel_code_instream": "afv_instream,Vertical_3,Vertical_36,Vertical_182,Vertical_211,Vertical_613,afv_instream_us,afv_user_thefinebros,afv_user_id_0v-tlzsn0QZwJnkiaUSJVQ,yt_mpvid_AATusdjArkr0Na3s,yt_cid_563326,ytdevice_1,ytps_default,ytel_detailpage",
        "dynamic_allocation_ad_tag": "http:\/\/ad.doubleclick.net\/N4061\/pfadx\/com.ytpwatch.entertainment\/main_563326;sz=WIDTHxHEIGHT;kvid=JgZHEfDkUkk;kpu=TheFineBros;kpeid=0v-tlzsn0QZwJnkiaUSJVQ;kpid=563326;mpvid=AATusdjArkr0Na3s;afv=1;afvbase=eJxdkV1vmzAUhn9NuKPyR2LgggvIx7ZoS5qkrdrcWA4YcGMwNTZJ-PVz2SalsywdP-8557V1XBkq8ngGIAIg9KyWcWVMO8HJBK3cvlwuDzdljT3xh0zVTulFzpWL6_L4fVkszs_nszdqNGvrmIBxeSyn5tbyeMx4UnF3SYRDgoIJmkdwCgI0HghBM8_Q9tbH_JpJm3OvZlfq2nOrmRGqiSGZOcOsYk3DZfxLNPO2nobgGoAn3hk4QSkreiqazmjO3AvTF66NyJik-AuQe4IhukcE4T0SiP-zpbb7q9iOa2oqXoiGn7T6Ioucgt43cugasDte1s1ZsOfD-mXnim6G1q0bB02SJ9vl74k-a7BhuPuTy1xmRjBGZOSc9yLjFI7QdjTnBbPSjMilQ8OEbFnJvX-1MfQq1Zk4Y_5n9Ft78gEkEMEIRBhMYYCI9_kNXmNrN-DONWRKay6ZUTqGOAzxNJjBKAqck4x546xpa-Lk8YRXyH8e9tvq6RtaaFUe3ptuWae8SDksrJU4jMhQHBO1rfbZD_tTq_0mY_gtzN_Q423b-_N9yt77G175r0uBP6phvzqHG9sPSZlHbghEdcVQHvmUbHfR64d5XMvDFBAZprsQR4kIlu023SyG8rSoFkkAfgPeKudB;dc_backfill=1;dc_yt=1;dt_yt=1;k5=3_36_182_211_613;kclg=1;kclt=1;kga=-1;kgg=-1;klg=en;kmsrd=1;ko=p;kr=H;kvz=203;longads=1;nlfb=1;yt_vrallowed=1;ytcat=24;ytdevice=1;ytexp=938627,914072,916625;!c=563326;k2=3;k2=36;k2=182;k2=211;k2=613;kvlg=en;",
        "cr": "US",
        "keywords": "YouTube Rewind: What Does 2013 Say?,YouTube Rewind 2013,YouTube Rewind,What Does 2013 Say?,thefinebros,finebros,fine bros,fine brothers,kids react,elders react,youtubers react,teens react,mymusic,my music,mymusicshow",
        "oid": "Cy8DuulTcwc7ci4zPWrKiw",
        "cc_font": "Arial Unicode MS, arial, verdana, _sans",
        "cc3_module": "1",
        "ad_device": 1,
        "afv_instream_max": 15000,
        "iv_module": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/iv_module.swf",
        "gut_tag": "\/4061\/ytpwatch\/main_563326",
        "rvs": "id=Ua4K5OyA7cQ\u0026author=TheFineBros\u0026view_count=2%2C617%2C235\u0026title=YouTubers+React+To+Short+Viral+Videos\u0026length_seconds=600,id=VfFU9u3XXww\u0026author=TheFineBros\u0026view_count=1%2C501%2C673\u0026title=Kids+React+To+XBOX+ONE+vs.+PlayStation+4%21\u0026length_seconds=540,id=i4i72gAmziw\u0026author=TheFineBros\u0026view_count=243%2C378\u0026title=YouTubers+React+to+1D+Deleted%3F%21%2C+2013+Recap%2C+and+more%21+%28Fine+Time+%2314%29\u0026length_seconds=459,id=6KXqYZnJGVE\u0026author=TheFineBros\u0026view_count=1%2C794%2C420\u0026title=Kids+React+To+going+to+the+store%21\u0026length_seconds=420,id=TM9-K95B5b4\u0026author=TheFineBros\u0026view_count=2%2C829%2C894\u0026title=YouTubers+React+To+DyE+Fantasy\u0026length_seconds=600,id=1gg1P090DDc\u0026author=TheFineBros\u0026view_count=1%2C705%2C991\u0026title=Elders+React+to+Brain+Surgery+Vlog+%28CTFxC%29\u0026length_seconds=705,id=era8q_hswns\u0026author=TheFineBros\u0026view_count=1%2C742%2C558\u0026title=TEENS+REACT+TO+CRYING+BABY\u0026length_seconds=465,id=RDlmJfLz1fg\u0026author=TheFineBros\u0026view_count=338%2C317\u0026title=2013%3A+Year+In+Review\u0026length_seconds=411,id=R2LsyxsueeY\u0026author=TheFineBros\u0026view_count=443%2C194\u0026title=YouTubers+React+To+Short+Viral+Videos+%28BONUS+%2326%29\u0026length_seconds=350,id=6NmGOQr-PYA\u0026author=TheFineBros\u0026view_count=2%2C384%2C819\u0026title=TEENS+REACT+TO+CAPTAINSPARKLEZ\u0026length_seconds=521,id=i0uuBoDcSC8\u0026author=TheFineBros\u0026view_count=1%2C389%2C816\u0026title=Elders+React+to+Hunger+Games%3A+Catching+Fire\u0026length_seconds=530,id=BJxRGvtSW74\u0026author=TheFineBros\u0026view_count=558%2C540\u0026title=SOMEONE+QUITS%21+%28MyMusic+Season+2+Episode+16%29\u0026length_seconds=636",
        "watermark": ",http:\/\/s.ytimg.com\/yts\/img\/watermark\/youtube_watermark-vflHX6b6E.png,http:\/\/s.ytimg.com\/yts\/img\/watermark\/youtube_hd_watermark-vflAzLcD6.png",
        "t": "vjVQa1PpcFOKPIkURH-7YnJSjOQv-PP-0F2TPIqxyKU=",
        "allowed_ads": [0, 1, 2, 4, 8, 9, 10],
        "ad_tag": "http:\/\/ad.doubleclick.net\/N4061\/pfadx\/com.ytpwatch.entertainment\/main_563326;sz=WIDTHxHEIGHT;kvid=JgZHEfDkUkk;kpu=TheFineBros;kpeid=0v-tlzsn0QZwJnkiaUSJVQ;kpid=563326;mpvid=AATusdjArkr0Na3s;afv=1;dc_yt=1;dt_yt=1;k5=3_36_182_211_613;kclg=1;kclt=1;kga=-1;kgg=-1;klg=en;kmsrd=1;ko=p;kr=H;kvz=203;longads=1;nlfb=1;yt_vrallowed=1;ytcat=24;ytdevice=1;ytexp=938627,914072,916625;!c=563326;k2=3;k2=36;k2=182;k2=211;k2=613;kvlg=en;",
        "referrer": null,
        "sendtmp": "1",
        "show_content_thumbnail": true,
        "mpu": true,
        "ptchn": "0v-tlzsn0QZwJnkiaUSJVQ",
        "pyv_ad_channels": "afv_user_thefinebros+afv_user_id_0v-tlzsn0QZwJnkiaUSJVQ+yt_mpvid_AATusdjArkr0Na3s+yt_cid_563326+ytdevice_1",
        "ad_slots": "0",
        "ad_channel_code_overlay": "invideo_overlay_480x70_cat24,afv_overlay,Vertical_3,Vertical_36,Vertical_182,Vertical_211,Vertical_613,afv_user_thefinebros,afv_user_id_0v-tlzsn0QZwJnkiaUSJVQ,yt_mpvid_AATusdjArkr0Na3s,yt_cid_563326,ytdevice_1,ytps_default,ytel_detailpage",
        "as_launched_in_country": "1",
        "plid": "AATusdjAPZogtcft",
        "ptk": "FullScreen",
        "midroll_freqcap": 270.0,
        "ad_logging_flag": 1,
        "hl": "en_US",
        "tag_for_child_directed": false,
        "no_get_video_log": "1",
        "focEnabled": "1",
        "host_language": "en",
        "afv_ad_tag_restricted_to_instream": "http:\/\/googleads.g.doubleclick.net\/pagead\/ads?ht_id=5012008\u0026url=http%3A%2F%2Fwww.youtube.com%2Fvideo%2FJgZHEfDkUkk\u0026video_cpm=6000000\u0026ad_type=video\u0026loeid=938627%2C914072%2C916625\u0026description_url=http%3A%2F%2Fwww.youtube.com%2Fvideo%2FJgZHEfDkUkk\u0026max_ad_duration=15000\u0026channel=afv_instream%2BVertical_3%2BVertical_36%2BVertical_182%2BVertical_211%2BVertical_613%2Bafv_instream_us%2Bafv_user_thefinebros%2Bafv_user_id_0v-tlzsn0QZwJnkiaUSJVQ%2Byt_mpvid_AATusdjArkr0Na3s%2Byt_cid_563326%2Bytdevice_1%2Bytps_default%2Bytel_detailpage\u0026ytdevice=1\u0026client=ca-pub-6219811747049371\u0026host=ca-host-pub-0161219093041726\u0026hl=en",
        "sffb": true,
        "rmktPingThreshold": 0,
        "aftv": true,
        "yt_pt": "APb3F2-UzROhTG2DrogSjnsEmBefBe1fuul3896zfZAoOhRcIuLroRNca3Y8dY2PyOv-CRBajvy3F-XEi3qhzRFk8NuvzAgd9Na36osfzgZe46OQ9XqtPJlS406l8BQ839Ai7EpOBNDzgbDhDA70",
        "length_seconds": 577,
        "tmi": "1",
        "dash": "0",
        "uid": "0v-tlzsn0QZwJnkiaUSJVQ",
        "ad_host_tier": "5012008",
        "cbrver": "4.0b11",
        "fexp": "938627,914072,916625,909717,932295,936912,936910,923305,936913,907231,907240,921090",
        "ad_flags": 0,
        "mpvid": "AATusdjArkr0Na3s",
        "baseUrl": "http:\/\/googleads.g.doubleclick.net\/pagead\/viewthroughconversion\/962985656\/",
        "tk": "1",
		"cver": "html5",
		"adaptive_fmts": "{{adaptive_fmts}}",
    },
    "url": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/watch_as3.swf"
};
</script>
{% endblock %}