      <li class="comment" data-author-id="v_tV2zDt4zjoX4XGgIhfQA" data-id="x9AjYalTnorY_b3NlmSZ08mfiJcE1LaPUeCeX-AFH5I">
         <button onclick=";return false;" type="button" class="flip close yt-uix-button yt-uix-button-link yt-uix-button-size-default yt-uix-button-empty" data-button-has-sibling-menu="true" role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant="">
            <span class="yt-uix-button-icon-wrapper">
            <img class="yt-uix-button-icon yt-uix-button-icon-comment-close" src="/yts/img/pixel.gif" alt="" title="">
            <span class="yt-uix-button-valign"></span>
            </span>
            <img class="yt-uix-button-arrow" src="/yts/img/pixel.gif" alt="" title="">
            <div class=" yt-uix-button-menu yt-uix-button-menu-link" style="display: none;">
               <ul>
                  <li class="comment-action-remove comment-action" data-action="remove"><span class="yt-uix-button-menu-item">Remove</span></li>
                  <li class="comment-action" data-action="flag-profile-pic"><span class="yt-uix-button-menu-item">Report profile image</span></li>
                  <li class="comment-action" data-action="flag"><span class="yt-uix-button-menu-item">Flag for spam</span></li>
                  <li class="comment-action-block comment-action" data-action="block"><span class="yt-uix-button-menu-item">Block User</span></li>
                  <li class="comment-action-unblock comment-action" data-action="unblock"><span class="yt-uix-button-menu-item">Unblock User</span></li>
               </ul>
            </div>
         </button>
         <a href="/user/{{ comment.u_name }}" class="yt-user-photo ">    <span class="video-thumb  yt-thumb yt-thumb-48">
         <span class="yt-thumb-square">
         <span class="yt-thumb-clip">
         <span class="yt-thumb-clip-inner">
         <img alt="{{ comment.u_name }}" data-thumb="{{ profile_image(comment.u_name) }}" src="{{ profile_image(comment.u_name) }}" width="48" data-group-key="thumb-group-0">
         <span class="vertical-align"></span>
         </span>
         </span>
         </span>
         </span>
         </a>
         <div class="content">
            <p class="metadata">
               <span class="author ">
               <a href="/user/{{ comment.u_name }}" class="yt-uix-sessionlink yt-user-name " data-sessionlink="ei=FsjxUaC6IOTJyQGUuIGIAQ" dir="ltr">{{ comment.u_name }}</a>
               </span>
               <span class="time" dir="ltr">
               <a dir="ltr" href="/comment?lc=x9AjYalTnorY_b3NlmSZ08mfiJcE1LaPUeCeX-AFH5I">
               {{ comment.date | relative_time }}
               </a>
               </span>
            </p>
            <div class="comment-text" dir="ltr">
               <p>{{ comment.comment }}</p>
               <p></p>
            </div>
            <div class="comment-actions">
               <button onclick=";return false;" type="button" class="start comment-action yt-uix-button yt-uix-button-link yt-uix-button-size-default" data-action="reply" role="button">    <span class="yt-uix-button-content">
               Reply 
               </span>
               </button>
               <span class="separator">·</span>
               <span class="yt-uix-clickcard">
                  <button onclick=";return false;" title="" type="button" class="start comment-action-vote-up comment-action yt-uix-clickcard-target yt-uix-button yt-uix-button-link yt-uix-button-size-default yt-uix-tooltip yt-uix-button-empty" data-action="" data-tooltip-show-delay="300" role="button">    <span class="yt-uix-button-icon-wrapper">
                  <img class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-up" src="/yts/img/pixel.gif" alt="" title="">
                  <span class="yt-uix-button-valign"></span>
                  </span>
                  </button>  
                  <div class="watch7-hovercard yt-uix-clickcard-content">
                     <h3 class="watch7-hovercard-header">Sign in to pokTwo</h3>
                     <div class="watch7-hovercard-message">
                        Sign in with your Chaziz Account to rate <span class="yt-user-name " dir="ltr">{{ comment.u_name }}</span>'s comment.
                     </div>
                     <ul class="watch7-hovercard-icon-strip clearfix">
                        <li class="watch7-hovercard-icon">
                           <div class="watch7-hovercard-chaziz-icon"></div>
                        </li>
                     </ul>
                     <div class="watch7-hovercard-account-line">
                        <a href="login.php" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default" data-sessionlink="ei=FsjxUaC6IOTJyQGUuIGIAQ"><span class="yt-uix-button-content">Sign in</span></a>
                     </div>
                  </div>
               </span>
               <span class="yt-uix-clickcard">
                  <button onclick=";return false;" title="" type="button" class="end comment-action-vote-down comment-action yt-uix-clickcard-target yt-uix-button yt-uix-button-link yt-uix-button-size-default yt-uix-tooltip yt-uix-button-empty" data-action="" data-tooltip-show-delay="300" role="button">    <span class="yt-uix-button-icon-wrapper">
                  <img class="yt-uix-button-icon yt-uix-button-icon-watch-comment-vote-down" src="/yts/img/pixel.gif" alt="" title="">
                  <span class="yt-uix-button-valign"></span>
                  </span>
                  </button>  
                  <div class="watch7-hovercard yt-uix-clickcard-content">
                     <h3 class="watch7-hovercard-header">Sign in to pokTwo</h3>
                     <div class="watch7-hovercard-message">
                        Sign in with your Chaziz Account to rate <span class="yt-user-name " dir="ltr">{{ comment.u_name }}</span>'s comment.
                     </div>
                     <ul class="watch7-hovercard-icon-strip clearfix">
                        <li class="watch7-hovercard-icon">
                           <div class="watch7-hovercard-chaziz-icon"></div>
                        </li>
                     </ul>
                     <div class="watch7-hovercard-account-line">
                        <a href="login.php" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default" data-sessionlink="ei=FsjxUaC6IOTJyQGUuIGIAQ"><span class="yt-uix-button-content">Sign in</span></a>
                     </div>
                  </div>
               </span>
            </div>
         </div>
      </li>